<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Characteristics</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin: 6% 50px 100px" class="w3-animate-opacity">
        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 500px; margin-left: 650px; text-align: center">
            <div class="w3-container w3-win8-blue">
                <h1>Характеристики изменить</h1>
            </div>
            <div class="w3-container" style="text-align: center">
                <form th:method="PATCH" th:action="@{/engine-characteristics/{id}/edit (id = *{id})}" th:object="${characteristics}">

                    <label for="engine"></label><br>
                    <input type="hidden" id="engine" th:field="*{engine.id}">

                    <label for="volume">Объем</label><br>
                    <input class="w3-input w3-border w3-round-large w3-light-grey"
                           type="text" id="volume" th:field="*{volume}"><br><br>

                    <label for="torque">Крутящий момент</label><br>
                    <input class="w3-input w3-border w3-round-large w3-light-grey"
                           type="text" id="torque" th:field="*{torque}"><br><br>

                    <label for="rpm">Обороты</label><br>
                    <input class="w3-input w3-border w3-round-large w3-light-grey"
                           type="text" id="rpm" th:field="*{rpm}"><br><br>

                    <label for="cylinders">Цилиндры</label><br>
                    <input class="w3-input w3-border w3-round-large w3-light-grey"
                           type="text" id="cylinders" th:field="*{cylinders}"><br><br>

                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input class="w3-button w3-round w3-win8-blue" type="submit" value="Принять" style="color: black">
                    <input class="w3-button w3-round w3-light-grey" type="button" value="Назад" onclick="history.back()" style="color: black">
                </form>
            </div>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>