<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Characteristics</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin: 10% 50px 100px">
        <form th:method="PATCH" th:action="@{/engine-characteristics/{id}/edit (id = *{id})}" th:object="${characteristics}">
            <h2>Characteristics</h2>

            <label for="engine">Engine</label><br>
            <select th:field="*{engine.id}" id="engine">
                <option th:value="*{engine.id}" th:text="*{engine.name}"></option>
            </select><br><br>

            <label for="volume">Volume</label><br>
            <input type="text" id="volume" th:field="*{volume}"><br><br>

            <label for="torque">Torque</label><br>
            <input type="text" id="torque" th:field="*{torque}"><br><br>

            <label for="power">Power</label><br>
            <input type="text" id="power" th:field="*{power}"><br><br>

            <label for="piston">Piston</label><br>
            <input type="text" id="piston" th:field="*{piston}"><br><br>

            <label for="cylinders">Cylinders</label><br>
            <input type="text" id="cylinders" th:field="*{cylinders}"><br><br>

            <label for="compression">Compression</label><br>
            <input type="text" id="compression" th:field="*{compression}"><br><br>

            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>