<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Engine</title>
    <link rel="stylesheet" href="/resource/css/imageModule.css">
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
<div class="w3-animate-opacity">
    <div style="margin: 25px 100px">
        <h3>
            <a th:href="@{/brands}">Brands</a> /
            <th:block th:if="${engine.engineEdition.brand != null}">
                <a th:href="@{/brands/{id} (id = ${engine.engineEdition.brand.id})}"
                   th:text="${engine.engineEdition.brand.title}">Brand</a> /
                <a th:href="@{/brands/{id}/editions (id = ${engine.engineEdition.brand.id})}">Editions</a>
            </th:block>
        </h3>
        <h3>
            <a th:href="@{/editions}">All Editions</a>
        </h3>
    </div>
    <div style="display: inline-flex" th:object="${engine}">
        <div style="display: inline-block; margin: 50px 100px">
            <h1 th:text="*{name}">Title</h1>
            <img id="myImg" th:src="*{image}" alt="image" style="border-radius: 5%; width: 700px">
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01" alt="image">
                <div id="caption"></div>
            </div>
            <h2 style="margin-top: 50px">
                Brand: <span th:text="${engine.engineEdition.brand != null ? engine.engineEdition.brand.title : 'No brand'}"
                             style="font-weight: normal">Brand</span>
            </h2>
            <h2>
                Edition: <span th:text="*{engineEdition.name}" style="font-weight: normal">Edition</span>
            </h2>
            <h2>
                Fuel: <span th:text="*{fuel.name}" style="font-weight: normal">Fuel</span>
            </h2>
            <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
        </div>
        <div style="display: inline-block; margin: 50px 100px">
            <h3 style="margin-top: 50px">Description</h3>
            <p th:text="*{description}" style="text-align: justify">Description</p>
            <div>
                <h3 style="margin-top: 100px">Characteristics</h3>
                <h4>
                    Volume: <span th:text="|*{engineCharacteristics.volume} см3|" style="font-weight: normal">Volume</span>
                </h4>
                <h4>
                    Cylinders: <span th:text="*{engineCharacteristics.cylinders}" style="font-weight: normal">Cylinders</span>
                </h4>
                <h4>
                    Power: <span th:text="|*{engineCharacteristics.power} л.с.|" style="font-weight: normal">Power</span>
                </h4>
                <h4>
                    RPM: <span th:text="|*{engineCharacteristics.rpm} об/мин|" style="font-weight: normal">RPM</span>
                </h4>
                <h4>
                    Torque: <span th:text="|*{engineCharacteristics.torque} Нм|" style="font-weight: normal">Torque</span>
                </h4>
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <th:block th:if="${user.role.name == 'ADMIN'}">
                        <div style="margin-top: 50px; display: inline-flex">
                            <form th:method="GET" th:action="@{/engines/{id}/edit (id = *{id})}" style="margin-right: 10px">
                                <input type="submit" value="Edit" style="color: black">
                            </form>
                            <form th:method="DELETE" th:action="@{/engines/{id}/delete (id = *{id})}">
                                <input type="submit" value="Delete" style="color: black">
                            </form>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script src="/resource/js/imageResource.js"></script>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>