<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Engines</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px">
        <h1>Find Engines</h1>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:method="GET" th:action="@{/engines/find-engines}" style="display: inline-flex">
                <div style="display: inline-block; margin-right: 25px">
                    <label for="brands">Brands</label>
                    <select th:field="${searchBrand.title}" id="brands">
                        <option value=""></option>
                        <option th:each="b : ${brands}" th:value="${b.title}" th:text="${b.title}"
                        th:selected="${searchBrand.title eq b.title}">Brand</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="editions">Editions</label>
                    <select th:field="${searchEdition.name}" id="editions">
                        <option value=""></option>
                        <option th:each="ed : ${editions}" th:value="${ed.name}" th:text="${ed.name}"
                        th:selected="${searchEdition.name eq ed.name}">Edition</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="engines">Engines</label>
                    <select th:field="${searchEngine.name}" id="engines">
                        <option value=""></option>
                        <option th:each="en : ${engines}" th:value="${en.name}" th:text="${en.name}"
                        th:selected="${searchEngine.name eq en.name}">Engines</option>
                    </select>
                </div>
                <input type="submit" value="Find Engines" style="color: black">
            </form>
        </th:block>
        <div style="margin-top: 100px">
            <h2 th:each="engine : ${engines}" style="margin-right: 50px; display: inline-flex">
                <a th:href="@{/engines/{id} (id = ${engine.id})}" style="text-decoration: none">
                    <img th:src="${engine.image}" alt="image" style="width: 150px; border-radius: 5%"><br>
                    <span th:text="${engine.name}"/>
                </a>
                <div style="display: inline-block; margin-left: 10px">
                    Brand:
                    <a th:href="@{/brands/{id} (id = ${engine.engineEdition.brand.id})}" style="color: gray; text-decoration: none">
                        <span th:text="${engine.engineEdition.brand.title}"/>
                    </a><br>
                    Edition:
                    <a th:href="@{/editions/{id} (id = ${engine.engineEdition.id})}" style="text-decoration: none">
                        <span th:text="${engine.engineEdition.name}"/>
                    </a>
                </div>
            </h2>
        </div>
        <div style="margin-top: 100px">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </div>
    </div>
</body>
</html>