<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Engines</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Find Engines</h1>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:method="GET" th:action="@{/engines/find-engines}" style="display: inline-flex">
                <div style="display: inline-block; margin-right: 25px">
                    <label for="brands">Brands</label>
                    <select name="searchBrand" id="brands">
                        <option value=""></option>
                        <option th:each="b : ${brands}" th:value="${b.title}" th:text="${b.title}"
                        th:selected="${searchBrand eq b.title}">Brand</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="editions">Editions</label>
                    <select name="searchEdition" id="editions">
                        <option value=""></option>
                        <option th:each="ed : ${editions}" th:value="${ed.name}" th:text="${ed.name}"
                        th:selected="${searchEdition eq ed.name}">Edition</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="engines">Engines</label>
                    <select name="searchEngine" id="engines">
                        <option value=""></option>
                        <option th:each="en : ${engines}" th:value="${en.name}" th:text="${en.name}"
                        th:selected="${searchEngine eq en.name}">Engines</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="fuel">Fuel</label>
                    <select name="searchFuel" id="fuel">
                        <option value=""></option>
                        <option th:each="fu : ${fuelTypes}" th:value="${fu.name}" th:text="${fu.name}"
                                th:selected="${searchFuel eq fu.name}">Engines</option>
                    </select>
                </div>
                <input type="submit" value="Find Engines" style="color: black">
            </form>
        </th:block>
        <div style="margin-top: 100px">
            <h2 th:each="engine : ${findEngines}" style="margin-right: 50px; display: inline-flex">
                <a th:href="@{/engines/{id} (id = ${engine.id})}" style="text-decoration: none">
                    <img th:src="${engine.image}" alt="image" style="width: 150px; border-radius: 5%"><br>
                    <span th:text="${engine.name}"/>
                    <span th:text="${engine.fuel.name}" style="color: gray; font-size: 14px"/>
                </a>
                <div style="display: inline-block; margin-left: 10px">
                    <th:block th:if="${engine.engineEdition.brand != null}">
                        Brand:
                        <a th:href="@{/brands/{id} (id = ${engine.engineEdition.brand.id})}" style="color: gray; text-decoration: none">
                            <span th:text="${engine.engineEdition.brand.title}"/>
                        </a><br>
                    </th:block>
                    Edition:
                    <a th:href="@{/editions/{id} (id = ${engine.engineEdition.id})}" style="text-decoration: none">
                        <span th:text="${engine.engineEdition.name}"/>
                    </a>
                </div>
            </h2>
        </div>
        <div style="margin-top: 100px">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>