<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <th:block th:if="${searchBrands.size() < 1 && cars.size() < 1 && engines.size() < 1}">
        <div style="margin-left: 100px; margin-top: 50px">
            <h2>No results</h2>
        </div>
    </th:block>
    <div style="margin-left: 100px; margin-top: 50px">
        <th:block th:if="${searchBrands.size() > 0}">
            <div style="margin-top: 50px">
                <h2>Brands</h2>
                <h3 th:each="brand : ${searchBrands}" style="display: inline-flex">
                    <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none">
                        <img th:src="${brand.image}" alt="image" style="display: inline-flex; width: 150px">
                        <p th:text="${brand.title}" style="margin-left: 20px; vertical-align: bottom"/>
                    </a>
                </h3>
            </div>
        </th:block>
        <th:block th:if="${cars.size() > 0}">
            <h2>Cars</h2>
            <h3 th:each="car : ${cars}" style="display: inline-flex">
                <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none; margin: 25px">
                    <img th:src="${car.image}" alt="image" style="display: inline-flex; width: 100px; border-radius: 10%"><br>
                    <div th:text="${car.brand.title}" style="margin-left: 20px"/>
                    <div th:text="${car.title}" style="margin-left: 20px"/>
                </a>
            </h3>
        </th:block>
        <th:block th:if="${engines.size() > 0}">
            <h2>Engines</h2>
            <h3 th:each="engine : ${engines}" style="display: inline-flex">
                <a th:href="@{/engines/{id} (id = ${engine.id})}" style="text-decoration: none; margin: 25px">
                    <img th:src="${engine.image}" alt="image" style="display: inline-flex; width: 100px; border-radius: 10%"><br>
                    <div th:text="${engine.engineEdition.brand.title}" style="margin-left: 20px"/>
                    <div th:text="${engine.engineEdition.name}" style="margin-left: 20px"/>
                    <div th:text="${engine.name}" style="margin-left: 20px"/>
                </a>
            </h3>
        </th:block>
    </div>
</body>
</html>