<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Transmission</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style=" margin: 15% 100px 50px">
        <form th:method="PATCH" th:action="@{/transmissions/{id}/edit (id = ${transmission.id})}">
            <h2>Transmission</h2>
            <label for="brand"></label><br>
            <select th:field="${transmission.brand.id}" id="brand">
                <option th:value="${transmission.brand.id}" th:text="${transmission.brand.title}">Edition</option>
            </select><br><br>

            <label for="gearbox"></label><br>
            <select th:field="${transmission.gearbox.id}" id="gearbox">
                <option th:value="${transmission.gearbox.id}" th:text="${transmission.gearbox.name}">Edition</option>
            </select><br><br>

            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="${transmission.name}"><br><br>

            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="${transmission.image}"><br><br>

            <label for="fuel">Drive type</label><br>
            <select th:field="${transmission.driveType.id}" id="fuel">
                <option th:each="driveType : ${driveTypes}"
                        th:value="${driveType.id}" th:text="${driveType.name}"
                        th:selected="${transmission.driveType.id eq driveType.id}">Drive Type</option>
            </select><br><br>

            <label for="description">Description</label><br>
            <textarea th:field="${transmission.description}" id="description" cols="30" rows="10">Description</textarea>>

            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>