<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Transmission</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style=" margin: 10% 100px 50px; text-align: center">
        <form th:method="PATCH" th:action="@{/transmissions/{id}/edit (id = ${transmission.id})}">
            <h2>Transmission</h2>
            <label for="brand">Brand</label><br>
            <select th:field="${transmission.brand.id}" id="brand">
                <option th:value="${transmission.brand.id}" th:text="${transmission.brand.title}">Brand</option>
            </select><br><br>

            <label for="gearbox">Gearbox</label><br>
            <select th:field="${transmission.gearbox.id}" id="gearbox">
                <option th:value="${transmission.gearbox.id}" th:text="${transmission.gearbox.name}">Gearbox</option>
            </select><br><br>

            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="${transmission.name}"><br><br>

            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="${transmission.image}"><br><br>

            <label for="fuel">Drive type</label><br>
            <select th:field="${transmission.driveType.id}" id="fuel">
                <option th:each="driveType : ${driveTypes}"
                        th:value="${driveType.id}" th:text="${driveType.name}"
                        th:selected="${transmission.driveType.id eq driveType.id}">Drive Type</option>
            </select><br><br>

            <label for="description">Description</label><br>
            <textarea th:field="${transmission.description}" id="description" cols="30" rows="10">Description</textarea>><br><br>

            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>