<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transmission</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 25px 100px">
        <h3>
            <a th:href="@{/brands}">Brands</a> /
            <a th:href="@{/brands/{id} (id = ${transmission.brand.id})}" th:text="${transmission.brand.title}">Brand</a> /
            <a th:href="@{/brands/{id}/gearboxes (id = ${transmission.brand.id})}">Gearboxes</a>
        </h3>
        <h3>
            <a th:href="@{/gearboxes}">All Gearboxes</a>
        </h3>
    </div>
    <div style="display: inline-flex" th:object="${transmission}">
        <div style="display: inline-block; margin: 50px 100px">
            <h1 th:text="*{name}">Title</h1>
            <img th:src="*{image}" alt="image" style="border-radius: 5%; width: 700px">
            <h2 style="margin-top: 50px">
                Brand: <span th:text="*{brand.title}" style="font-weight: normal">Brand</span>
            </h2>
            <h2>
                Gearbox: <span th:text="*{gearbox.name}" style="font-weight: normal">Edition</span>
            </h2>
            <h2>
                Drive type: <span th:text="*{driveType.name}" style="font-weight: normal">Fuel</span>
            </h2>
            <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
        </div>
        <div style="display: inline-block; margin: 50px 100px">
            <h3 style="margin-top: 50px">Description</h3>
            <p th:text="*{description}" style="text-align: justify">Description</p>
            <th:block th:if="${#authorization.expression('isAuthenticated')}">
                <th:block th:if="${user.role.name == 'ADMIN'}">
                    <div style="margin-top: 50px; display: inline-flex">
                        <form th:method="GET" th:action="@{/transmissions/{id}/edit (id = *{id})}" style="margin-right: 10px">
                            <input type="submit" value="Edit" style="color: black">
                        </form>
                        <form th:method="DELETE" th:action="@{/transmissions/{id}/delete (id = *{id})}">
                            <input type="submit" value="Delete" style="color: black">
                        </form>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</body>
</html>