<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Brand</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin-top: 5%" class="w3-animate-opacity">
        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 500px; margin-left: 700px">
            <div class="w3-container w3-win8-blue">
                <h1>Добавить бренд</h1>
            </div>
            <br>
            <form th:method="POST" th:action="@{/brands/secure/add}" enctype="multipart/form-data">
                <label for="name">Наименование</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 400px; margin-left: 50px"
                       type="text" id="name" th:field="${brand.title}"><br>

                <label for="image">Изображение</label><br>
                <input class="w3-input w3-border w3-round-large w3-light-grey" style="width: 400px; margin-left: 50px"
                       type="text" id="image" th:field="${brand.image}" alt="image" ><br>

                <label for="website">Веб-страница</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large"
                       style="width: 400px; margin-left: 50px" type="url" id="website" th:field="${brand.website}" ><br>

                <label for="description">Описание</label><br>
                <textarea class="w3-round-large" name="description" id="description" cols="30" rows="10"
                          th:field="${brand.description}" style="width: 400px"></textarea><br><br>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input class="w3-button w3-round w3-win8-blue" type="submit" value="Принять" style="color: black">
                <input class="w3-button w3-round w3-light-grey" type="button" value="Назад" style="color: black" onclick="history.back()">
            </form>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>