<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Transmission</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style=" margin: 5% 100px 50px; text-align: center" class="w3-animate-opacity">

        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 600px; margin-left: 550px">
            <div class="w3-tag w3-win8-blue w3-round-large" style="width: 600px">
                <h2>Добавить трансмиссию</h2>
            </div>
            <form th:method="POST" th:action="@{/brands/{id}/add-transmission (id = ${brand.id})}">
                <br>
                <input type="hidden" th:field="${gearbox.id}">

                <label for="fuel">Тип трансмиссии</label><br>
                <select th:field="${transmission.driveType.id}" id="fuel" style="width: 500px">
                    <option th:each="driveType : ${driveTypes}" th:value="${driveType.id}" th:text="${driveType.name}">Drive Type</option>
                </select><br>

                <label for="gearbox"></label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="hidden" id="gearbox" th:field="${gearbox.id}">

                <label for="name">Наименование</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="name" th:field="${transmission.name}"><br>

                <label for="image">Изображение</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="image" th:field="${transmission.image}"><br>

                <label for="final ratio">Конечное передаточное число</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="final ratio" th:field="${transmission.finalRatio}"><br>

                <label for="ratio">Передаточное число</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="ratio" th:field="${transmission.ratio}"><br>

                <label for="description">Описание</label><br>
                <textarea class="w3-round-large" th:field="${transmission.description}" style="width: 500px"
                          id="description" cols="30" rows="10">Description</textarea><br><br>

                <input class="w3-button w3-win8-blue w3-round" type="submit" value="Принять" style="color: black">
                <input class="w3-button w3-light-grey w3-round" type="button" value="Назад" onclick="history.back()" style="color: black">
            </form>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>