<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Transmission</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style=" margin: 10% 100px 50px; text-align: center">
        <form th:method="POST" th:action="@{/brands/{id}/add-transmission (id = ${brand.id})}">
            <h2>Transmission</h2>
            <label for="brand"></label><br>
            <select th:field="${transmission.brand.id}" id="brand">
                <option th:value="${brand.id}" th:text="${brand.title}">Edition</option>
            </select><br><br>

            <label for="gearbox"></label><br>
            <select th:field="${gearbox.id}" id="gearbox">
                <option th:value="${gearbox.id}" th:text="${gearbox.name}">Edition</option>
            </select><br><br>

            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="${transmission.name}"><br><br>

            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="${transmission.image}"><br><br>

            <label for="fuel">Drive type</label><br>
            <select th:field="${transmission.driveType.id}" id="fuel">
                <option th:each="driveType : ${driveTypes}" th:value="${driveType.id}" th:text="${driveType.name}">Drive Type</option>
            </select><br><br>

            <label for="description">Description</label><br>
            <textarea th:field="${transmission.description}" id="description" cols="30" rows="10">Description</textarea><br><br>

            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>