<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Turbocharger</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style=" margin: 10% 100px 50px; text-align: center">
        <form th:method="POST" th:action="@{/brands/{id}/add-turbocharger (id = ${brand.id})}">
            <h2>Transmission</h2>
            <label for="brand"></label><br>
            <select th:field="${turbocharger.brand.id}" id="brand">
                <option th:value="${brand.id}" th:text="${brand.title}">Brand</option>
            </select><br><br>

            <label for="turbotype"></label><br>
            <select th:field="${turboType.id}" id="turbotype">
                <option th:value="${turboType.id}" th:text="${turboType.name}">Type</option>
            </select><br><br>

            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="${turbocharger.name}"><br><br>

            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="${turbocharger.image}"><br><br>

            <label for="powerIntake">Power Intake</label><br>
            <input type="text" id="powerIntake" th:field="${turbocharger.powerIntake}"><br><br>

            <label for="powerGeneration">Power Generation</label><br>
            <input type="text" id="powerGeneration" th:field="${turbocharger.powerGeneration}"><br><br>

            <label for="description">Description</label><br>
            <textarea th:field="${turbocharger.description}" id="description" cols="30" rows="10">Description</textarea>><br><br>

            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>