<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brands</title>
    <style>
        .stories {
            display: inline-flex;
            flex-wrap: wrap;
            align-content: stretch;
            align-items: center;
        }
    </style>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px; text-align: center" class="stories">
        <div class="story" style="display: inline-flex; margin: 77px; text-align: center" th:each="brand : ${brands}">
            <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none">
                <div style="width: 400px; height: 400px">
                    <img th:src="${brand.image}" alt="image" style="width: 400px">
                </div>
                <h2 th:text="${brand.title}">Title</h2>
            </a>
        </div>
    </div>
    <div style="margin: 100px">
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <input type="button" value="Add Brand" onclick="location.assign('/brands/add')" style="color: black">
            </th:block>
        </th:block>
        <input type="button" value="Back" onclick="location.assign('/')" style="color: black">
    </div>
</body>
</html>