<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brands</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px; text-align: center">
        <th:block th:if="${brands.size() < 1}">
            <h2>No results</h2>
        </th:block>
        <div style="display: inline-flex; text-align: center">
            <h2 th:each="brand : ${brands}" style="margin: 50px; width: 400px; height: 400px">
                <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none">
                    <div style="width: 400px; height: 400px">
                        <img th:src="${brand.image}" alt="image" style="width: 400px">
                    </div>
                    <p th:text="${brand.title}"/>
                </a>
            </h2>
        </div>
        <br>
    </div>
    <div style="margin: 100px">
        <input type="button" value="Add Brand" onclick="location.assign('/brands/add')" style="color: black">
        <input type="button" value="Back" onclick="location.assign('/')" style="color: black">
    </div>
</body>
</html>