<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brands</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
    <style>
        .stories {
            display: inline-flex;
            flex-wrap: wrap;
            align-content: stretch;
            align-items: center;
        }
    </style>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Brands</h1>
    </div>
    <div style="margin: 10px 100px; text-align: center" class="stories">
        <div class="story" style="display: inline-flex; margin: 77px; text-align: center" th:each="brand : ${brands}">
            <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none">
                <th:block th:if="${brand.image != null}">
                    <div style="width: 400px; height: 400px">
                        <img th:src="@{|/images/${brand.image.id}|}" alt="image" style="width: 400px">
                    </div>
                </th:block>
                <h2 th:text="${brand.title}">Title</h2>
            </a>
        </div>
    </div>
    <div style="margin: 50px 100px">
        <ul style="display: inline-flex; list-style-type: none">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px">
                    <a class="page-link" th:href="@{/brands/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
    </div>
    <div style="margin: 100px">
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <input type="button" value="Add Brand" onclick="location.assign('/brands/secure/add')" style="color: black">
            </th:block>
        </th:block>
        <input type="button" value="Back" onclick="location.assign('/')" style="color: black">
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>