<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brand Page</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 25px 100px">
        <h3>
            <a th:href="@{/brands}">Brands</a>
        </h3>
    </div>
    <div style="margin: 50px 100px 100px; display: inline-flex" th:object="${brand}">
        <div style="display: inline-block">
            <h1 th:text="*{title}">Title</h1>
            <img th:src="*{image}" alt="image" style="width: 500px">
            <h2 style="margin-top: 100px">
                Website: <a th:href="*{website}" th:text="*{website}" style="font-weight: normal" target="_blank"></a>
            </h2>
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </div>
        <div style="display: inline-block; margin-left: 100px; margin-top: 100px">
            <h3>Description</h3>
            <p th:text="*{description}" style="text-align: justify; padding-right: 250px"></p>

            <h2 style="margin-top: 100px">
                <a style="text-decoration: none" th:href="@{/brands/{id}/cars (id = *{id})}">Cars</a><br>
                <a style="text-decoration: none" th:href="@{/brands/{id}/editions (id = *{id})}">Engines</a><br>
                <a style="text-decoration: none" th:href="@{/brands/{id}/gearboxes (id = *{id})}">Transmissions</a><br>
                <a style="text-decoration: none" th:href="@{/brands/{id}/turbo-types (id = *{id})}">Turbochargers</a><br>
            </h2>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${user.roles.first.name() == 'ADMIN'}">
                    <div style="display: inline-flex; margin-top: 100px">
                        <form th:method="GET" th:action="@{/brands/{id}/edit (id = *{id})}">
                            <input type="submit" value="Edit" style="color: black">
                        </form>
                        <form th:method="DELETE" th:action="@{/brands/{id}/delete (id = *{id})}">
                            <input type="submit" value="Delete" style="color: black; margin-left: 10px">
                        </form>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</body>
</html>