<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transmissions</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div class="w3-animate-opacity">
        <div style="margin: 25px 100px">
            <h3>
                <a th:href="@{/brands}">Brands</a> /
                <a th:href="@{/brands/{id} (id = ${brand.id})}" th:text="${brand.title}">Brand</a>
            </h3>
        </div>
        <div style="margin: 50px 100px" th:object="${brand}">
            <th:block th:if="*{gearboxes.size() < 1}">
                <h2 style="color: grey">Empty</h2>
            </th:block>
            <div th:each="gearbox : *{gearboxes}">
                <h1>
                    <a th:href="@{/gearboxes/{id} (id = ${gearbox.id})}" style="text-decoration: none">
                        <span th:text="${gearbox.name}"/>
                    </a>
                </h1>
                <img th:src="${gearbox.image}" alt="image"><br>
                <div th:each="transmission : ${gearbox.transmissions}"  style="display: inline-flex">
                    <th:block th:if="${transmission.brand.id eq brand.id}">
                        <div style="display: inline-block">
                            <h2>
                                <a th:href="@{/transmissions/{id} (id = ${transmission.id}, brandId = *{id})}"
                                   style="text-decoration: none; margin-right: 50px">
                                    <span th:text="${transmission.name}">Engine Name</span><br>
                                    <span th:text="${transmission.driveType.name}" style="color: grey; font-size: 14px">Fuel</span>
                                </a>
                            </h2>
                        </div>
                    </th:block>
                    <br>
                </div>
                <br>
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <th:block th:if="${user.role.name == 'ADMIN'}">
                        <a th:href="@{/brands/{id}/add-transmission (id = *{id}, gearboxId = ${gearbox.id})}"
                           style="text-decoration: none">Add Transmission</a>
                    </th:block>
                </th:block>
                <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 900px"></div>
            </div>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${user.role.name == 'ADMIN'}">
                    <form th:method="GET" th:action="@{/brands/{id}/add-gearbox (id = *{id})}" style="margin-top: 100px">
                        <input type="submit" value="Add Gearbox" style="color: black">
                    </form>
                </th:block>
            </th:block>
            <br><br>
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>