<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turbo Types</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 25px 100px">
        <h3>
            <a th:href="@{/templates/brands}">Brands</a> /
            <a th:href="@{/brands/{id} (id = ${brand.id})}" th:text="${brand.title}">Brand</a>
        </h3>
    </div>
    <div style="margin: 50px 100px" th:object="${brand}">
        <th:block th:if="*{turboTypes.size() < 1}">
            <h2 style="color: grey">Empty</h2>
        </th:block>
        <div th:each="type : *{turboTypes}">
            <h1 th:text="${type.name}">Edition</h1>
            <img th:src="${type.image}" alt="image" style="width: 250px"><br>
            <p th:text="${type.description}"></p>
            <div th:each="turbocharger : ${type.turbochargers}"  style="display: inline-flex">
                <th:block th:if="${turbocharger.brand.id eq brand.id}">
                    <div style="display: inline-block">
                        <h2>
                            <a th:href="@{/turbochargers/{id} (id = ${turbocharger.id})}"
                               style="text-decoration: none; margin-right: 50px">
                                <span th:text="${turbocharger.name}">Engine Name</span><br>
                            </a>
                        </h2>
                    </div>
                </th:block>
                <br>
            </div>
            <br>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${user.role.name == 'ADMIN'}">
                    <a th:href="@{/brands/{id}/add-turbocharger (id = *{id}, turbotypeId = ${type.id})}" style="text-decoration: none">Add Turbocharger</a>
                </th:block>
            </th:block>
            <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 900px"></div>
        </div>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <form th:method="GET" th:action="@{/brands/{id}/add-turbo-type (id = *{id})}" style="margin-top: 100px">
                    <input type="submit" value="Add Gearbox" style="color: black">
                </form>
            </th:block>
        </th:block>
        <br><br>
        <input type="button" value="Back" onclick="history.back()" style="color: black">
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>