<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
    <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
        <th:block th:case="${true}">
            <th:block th:if="${user.image == null}">
                <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
            </th:block>
            <th:block th:if="${user.image != null}">
                <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
            </th:block>
        </th:block>
        <th:block th:case="${false}">
            <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
        </th:block>
    </th:block>

    <div class="w3-tag w3-light-grey w3-hover-opacity" style="margin-top: 50px; width: 1920px; height: 80px">
        <h1 th:text="${article.title}">Title</h1>
    </div>
    <div style="margin: 50px 100px" class="w3-animate-opacity">
        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 400px">
            <h3 class="w3-tag w3-blue" th:text="|Дата: ${article.date}|" style="color: gray; width: 400px">Date</h3><br>
            <div class="w3-container" style="text-align: center">
                <img th:src="${article.image}" alt="image" class="w3-round-large">
            </div>
            <br>
        </div>
        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 1000px">
            <div class="w3-container" style="margin: 20px">
                <div class="w3-border w3-round-large" style="margin: 20px; width: 900px; height: 200px; overflow: auto">
                    <p th:text="${article.content}" style="font-size: 18px; text-align: justify; margin: 20px">Content</p>
                </div>
                <h3>Оригинал: <a th:href="${article.url}" th:text="${article.url}" target="_blank"></a></h3>
            </div>
        </div>
        <div style="margin-top: 100px">
            <input class="w3-button w3-light-grey" type="button" value="Back" onclick="history.back()">
        </div>
    </div>

    <div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>