<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Turbo type</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="text-align: center; margin: 15% 100px 50px;">
        <form th:method="POST" th:action="@{/brands/{id}/add-turbo-type (id = ${brand.id})}" th:object="${turboType}">
            <h2>Turbo Type</h2>
            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="*{name}"><br><br>
            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="*{image}"><br><br>
            <label for="description">Description</label><br>
            <input type="text" id="description" th:field="*{description}"><br><br>
            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>