<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Turbo types</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>

    <div style="text-align: center; margin: 10% 100px 50px" class="w3-animate-opacity">
        <form th:method="PATCH" th:action="@{/turbo-types/{id}/edit (id = ${turboType.id})}" th:object="${turboType}">
            <h2>Turbo Type</h2>
            <label for="id"></label>
            <input type="hidden" id="id" th:field="*{id}">
            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="*{name}"><br><br>
            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="*{image}"><br><br>
            <label for="description">Description</label><br>
            <textarea th:field="*{description}" id="description" cols="30" rows="10"></textarea><br><br>
            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>