<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turbo Type</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Turbochargers</h1>
        <h2>
            <a th:href="@{/turbo-types}" style="text-decoration: none">All Turbo Types</a>
        </h2>
        <div style="margin-top: 25px">
            <h3 style="margin-right: 25px">Brands</h3>
            <h4 th:each="brand : ${turboType.brands}" style="display: inline-flex">
                <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none; margin-right: 20px">
                    <img th:src="${brand.image}" alt="image" style="width: 50px">
                    <span th:text="${brand.title}"/>
                </a>
            </h4>
        </div>
        <div style="display: inline-block">
            <h2 th:text="${turboType.name}">Edition</h2>
            <img th:src="${turboType.image}" alt="image" style="width: 250px"><br>
            <h2 th:each="turbocharger : ${turboType.turbochargers}" style="display: inline-flex">
                <a th:href="@{/turbochargers/{id} (id = ${turbocharger.id})}" style="text-decoration: none; margin-right: 20px">
                    <span th:text="${turbocharger.name}"/><br>
                </a>
            </h2>
        </div>
        <br>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <a th:href="@{/turbochargers/add (turbotypeId = ${turboType.id})}" style="text-decoration: none">Add Turbocharger</a>
            </th:block>
        </th:block>
        <div style="margin-top: 100px">
            <input type="button" value="Back" style="color: black" onclick="history.back()">
        </div>
    </div>
</body>
</html>