<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Equipment</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>

    <div class="w3-animate-opacity" style="text-align: center; margin: 10% 50px 100px">
        <div class="w3-card w3-round-large" style="width: 500px; margin-left: 650px">
            <div class="w3-container w3-win8-blue">
                <h1>Добавить комплектацию</h1>
            </div>
            <br>
            <form th:method="POST" th:action="@{/equipments/secure/add (id = ${equipment.id})}" class="w3-container">
                <label for="name">Наименование</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large"
                       type="text" id="name" th:field="${equipment.name}" placeholder="Введите наименование"><br>

                <label for="image">Изображение </label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large"
                       type="password" id="image" th:field="${equipment.image}" placeholder="Укажите ссылку на изображение"><br>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}"><br>

                <input type="submit" value="Принять" style="color: black" class="w3-button w3-win8-blue w3-round">
                <input type="button" value="Назад" onclick="history.back()" style="color: black" class="w3-button w3-light-grey w3-round">
            </form>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>