<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Equipments</title>
    <link rel="stylesheet" href="/resource/css/equipmentsTable.css">
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Complectations</h1>
        <div style="margin-top: 50px">
            <form th:method="GET" th:action="@{/equipments/search}">
                <label for="search">Search</label><br>
                <input type="text" id="search" name="search">
                <input type="submit" value="Search" style="color: black">
            </form>
        </div>
        <table style="width: 40%; margin-top: 50px" class="w3-table-all">
            <tr>
                <th><h2>Car</h2></th>
                <th><h2>Complectation</h2></th>
                <th><h2>User</h2></th>
            </tr>
            <tr th:each="complectation : ${equipments}">
                <th>
                    <th:block th:if="${complectation.car == null}">
                        <span style="color: red">Not attached</span>
                    </th:block>
                    <th:block th:if="${complectation.car != null}">
                        <a class="a_class" th:href="@{/cars/{id} (id = ${complectation.car.id})}"
                           th:text="|${complectation.car.brand != null ? complectation.car.brand.title : 'No brand'}
                           ${complectation.car.title}|">Car</a>
                    </th:block>
                </th>
                <th>
                    <a class="a_class" th:href="@{/equipments/{id} (id = ${complectation.id})}"
                       th:text="${complectation.name}">Complectation</a>
                </th>
                <th>
                    <a class="a_class" th:href="@{/users/{name} (name = ${complectation.person.username})}"
                       th:text="${complectation.person.username}">User</a>
                </th>
            </tr>
        </table>
        <br><br>
        <ul style="display: inline-flex; list-style-type: none">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px">
                    <a class="page-link" th:href="@{/equipments/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
        <div>
            <input type="button" value="Back" onclick="history.back()" style="margin-top: 100px">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>