<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Equipments</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        .a_class {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px">
        <table style="width: 40%">
            <tr>
                <th><h2>Brand</h2></th>
                <th><h2>Car</h2></th>
                <th><h2>Complectation</h2></th>
                <th><h2>User</h2></th>
            </tr>
            <tr th:each="complectation : ${equipments}">
                <th:block th:each="car : ${complectation.cars}">
                    <th>
                        <a class="a_class" th:href="@{/brands/{id} (id = ${car.brand.id})}"
                           th:text="${car.brand.title}">Brand</a>
                    </th>
                    <th>
                        <a class="a_class" th:href="@{/cars/{id} (id = ${car.id})}"
                           th:text="${car.title}">Car</a>
                    </th>
                    <th>
                        <a class="a_class" th:href="@{/equipments/{id} (id = ${complectation.id}, carId = ${car.id})}"
                           th:text="${complectation.name}">Complectation</a>
                    </th>
                    <th>
                        <a class="a_class" th:href="@{/users/{name} (name = ${car.person.username})}" th:text="${car.person.username}">User</a>
                    </th>
                </th:block>
            </tr>
        </table>
        <input type="button" value="Back" onclick="history.back()" style="margin-top: 100px">
    </div>
</body>
</html>