<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipment</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px">
        <h1 th:text="${equipment.name}">Equipment</h1>
        <div style="display: inline-flex" th:object="${equipment}">
            <div style="display: inline-block; margin-right: 50px">
                <h2>Engine</h2>
                <h4 th:if="*{engine != null}">
                    <a th:href="@{/engines/{id} (id = *{engine.id})}" style="text-decoration: none">
                        <div style="width: 300px; height: 300px">
                            <img src="/images/car-engine.jpg" alt="image" style="width: 300px; border-radius: 10%"><br>
                        </div>
                        <span th:text="*{engine.engineEdition.brand.title}" style="color: grey"/><br>
                        <span th:text="*{engine.engineEdition.name}"/>
                        <span th:text="*{engine.name}"/>
                    </a><br><br>
                    <div>
                        <form th:method="DELETE" th:action="@{/equipments/{id}/remove-engine (id = *{id})}">
                            <input type="submit" value="Change" style="color: black">
                        </form>
                    </div>
                </h4>
                <h4 th:if="*{engine == null}">
                    <span style="color: grey">Empty</span>
                    <div style="margin-top: 50px">
                        <form th:method="POST" th:action="@{/equipments/{id}/add-engine (id = *{id})}">
                            <label for="engine" style="color: grey">Engine</label><br>
                            <select th:field="${addEngine.id}" id="engine">
                                <option th:each="chooseEngine : ${engines}" th:value="${chooseEngine.id}"
                                        th:text="${chooseEngine.name}">Engine</option>
                            </select><br><br>
                            <input type="submit" value="Add" style="color: black">
                        </form>
                    </div>
                </h4>
            </div>
            <div style="display: inline-block; margin-right: 50px">
                <h2>Transmission</h2>
                <h4 th:if="*{transmission != null}">
                    <a th:href="@{/transmissions/{id} (id = *{transmission.id}, brandId = *{transmission.brand.id})}" style="text-decoration: none">
                        <div style="width: 300px; height: 300px">
                            <img src="/images/transmission.jpg" alt="image" style="width: 300px; border-radius: 10%"><br>
                        </div>
                        <span th:text="*{transmission.brand.title}" style="color: grey"/><br>
                        <span th:text="*{transmission.gearbox.name}"/>
                        <span th:text="*{transmission.name}"/>
                    </a><br><br>
                    <div>
                        <form th:method="DELETE" th:action="@{/equipments/{id}/remove-transmission (id = *{id})}">
                            <input type="submit" value="Change" style="color: black">
                        </form>
                    </div>
                </h4>
                <h4 th:if="*{transmission == null}">
                    <span style="color: grey">Empty</span>
                    <div style="margin-top: 50px">
                        <form th:method="POST" th:action="@{/equipments/{id}/add-transmission (id = *{id})}">
                            <label for="transmission" style="color: grey">Transmission</label><br>
                            <select th:field="${addTransmission.id}" id="transmission">
                                <option th:each="chooseTransmission : ${transmissions}" th:value="${chooseTransmission.id}"
                                        th:text="${chooseTransmission.name}">Transmission</option>
                            </select><br><br>
                            <input type="submit" value="Add" style="color: black">
                        </form>
                    </div>
                </h4>
            </div>
            <div style="display: inline-block; margin-right: 50px">
                <h2>Turbocharger</h2>
                <h4 th:if="*{turbocharger != null}">
                    <a th:href="@{/turbochargers/{id} (id = *{turbocharger.id}, brandId = *{turbocharger.brand.id})}" style="text-decoration: none">
                        <div style="width: 300px; height: 300px">
                            <img src="/images/turbocharger.jpg" alt="image" style="width: 300px; border-radius: 10%"><br>
                        </div>
                        <span th:text="*{turbocharger.brand.title}" style="color: grey"/><br>
                        <span th:text="*{turbocharger.turboType.name}"/>
                        <span th:text="*{turbocharger.name}"/>
                    </a><br><br>
                    <div>
                        <form th:method="DELETE" th:action="@{/equipments/{id}/remove-turbocharger (id = *{id})}">
                            <input type="submit" value="Change" style="color: black">
                        </form>
                    </div>
                </h4>
                <h4 th:if="*{turbocharger == null}">
                    <span style="color: grey">Empty</span>
                    <div style="margin-top: 50px">
                        <form th:method="POST" th:action="@{/equipments/{id}/add-turbocharger (id = *{id})}">
                            <label for="turbocharger" style="color: grey">Turbocharger</label><br>
                            <select th:field="${addTurbocharger.id}" id="turbocharger">
                                <option th:each="chooseTurbocharger : ${turbochargers}" th:value="${chooseTurbocharger.id}"
                                        th:text="${chooseTurbocharger.name}">Turbocharger</option>
                            </select><br><br>
                            <input type="submit" value="Add" style="color: black">
                        </form>
                    </div>
                </h4>
            </div>
        </div>
        <br>
        <div style="display: inline-flex">
            <div>
                <form th:method="GET" th:action="@{/cars/{id} (id = ${equipment.car.id})}">
                    <input type="submit" value="To Car" style="color: black; margin-top: 100px; margin-right: 10px">
                </form>
            </div>
            <div>
                <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
            </div>
        </div>
    </div>
</body>
</html>