<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Gearbox</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin: 10% 100px 50px" class="w3-animate-opacity">
        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 500px; margin-left: 600px">
            <div class="w3-container w3-win8-blue">
                <h2>Добавить коробку передач</h2>
            </div>
            <br>
            <form th:method="POST" th:action="@{/gearboxes/secure/add}" th:object="${gearbox}">
                <label for="brands">Бренды</label><br>
                <select name="selectedBrands" id="brands" multiple style="width: 400px">
                    <option th:each="bramd : ${brands}" th:value="${bramd.id}" th:text="${bramd.title}">Brand</option>
                </select><br><br>

                <label for="name">Наименование</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 400px; margin-left: 50px"
                       type="text" id="name" th:field="*{name}"><br>

                <label for="stairs">Количество передач</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 400px; margin-left: 50px"
                       type="number" id="stairs" th:field="*{stairs}"><br>

                <label for="image">Изображение</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 400px; margin-left: 50px"
                       type="text" id="image" th:field="*{image}"><br>

                <input class="w3-button w3-round w3-win8-blue" type="submit" value="Принять" style="color: black">
                <input class="w3-button w3-round w3-light-grey" type="button" value="Назад" onclick="history.back()" style="color: black">
            </form>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>