<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gearbox</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px" class="w3-animate-opacity">
        <h1 class="w3-tag w3-round-large w3-light-grey" style="width: 1720px">Трансмиссии</h1>
        <div style="margin-top: 20px">
            <h3 class="w3-tag w3-light-grey w3-round-large" style="width: 300px; height: 100px">
                <div class="w3-container" style="margin-top: 25px">
                    <a class="w3-hover-opacity" th:href="@{/gearboxes}" style="text-decoration: none">Все коробки передач</a>
                </div>
            </h3>
        </div>
        <br>
        <div style="display: inline-block">
            <div class="w3-card w3-round-large w3-hover-shadow">
                <h2 class="w3-tag w3-round-large w3-win8-blue" style="width: 720px" th:text="${gearbox.name}">Edition</h2>
                <div class="w3-container">
                    <div style="display: inline-flex">
                        <img th:src="${gearbox.image}" alt="image" style="width: 250px"><br>
                        <th:block th:if="${gearbox.brands.size() > 0 && gearbox.brands != null}">
                            <div class="w3-border w3-round-large" style="margin: 20px; width: 400px; height: 200px; overflow: auto">
                                <h4 th:each="brand : ${gearbox.brands}" style="display: inline-flex; margin: 20px">
                                    <a class="w3-hover-opacity" th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none">
                                        <img th:src="@{|/images/${brand.image.id}|}" alt="image" style="width: 50px">
                                        <span th:text="${brand.title}"/>
                                    </a>
                                </h4>
                            </div>
                        </th:block>
                    </div>
                    <div class="w3-border w3-round-large" style="width: 660px; height: 200px; overflow: auto">
                        <h2  th:each="transmission : ${gearbox.transmissions}" style="display: inline-flex; margin: 20px">
                            <a class="w3-hover-opacity" th:href="@{/transmissions/{id} (id = ${transmission.id})}"
                               style="text-decoration: none">
                                <div class="w3-card w3-round-large w3-hover-shadow">
                                    <div style="display: inline-block; margin: 10px">
                                        <div style="display: inline-flex">
                                            <img class="w3-round" th:src="${transmission.image}" alt="image" style="width: 50px">
                                            <span style="margin-left: 10px" th:text="${transmission.name}"/>
                                        </div>
                                        <br>
                                        <span th:text="${transmission.driveType.name}" style="color: grey; font-size: 14px"/>
                                    </div>
                                </div>
                            </a>
                        </h2>
                    </div>
                    <br>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <th:block th:if="${user.role.name == 'ADMIN'}">
                            <div style="display: inline-flex">
                                <a class="w3-button w3-teal w3-round" th:href="@{/transmissions/secure/add (gearboxId = ${gearbox.id})}"
                                   style="text-decoration: none; margin-right: 20px">Добавить трансмиссию</a>
                                <form th:method="GET" th:action="@{|/gearboxes/${gearbox.id}/edit|}" style="margin-right: 20px">
                                    <input class="w3-button w3-round w3-blue" type="submit" value="Изменить" style="color: black">
                                </form>
                                <form th:method="DELETE" th:action="@{|/gearboxes/${gearbox.id}/delete|}">
                                    <input class="w3-button w3-round w3-red" type="submit" value="Удалить" style="color: black">
                                </form>
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div style="margin-top: 100px">
            <input class="w3-button w3-round w3-light-grey" type="button" value="Назад" style="color: black" onclick="history.back()">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>