<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gearboxes</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px">
        <h1>Gearboxes</h1>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <form th:method="GET" th:action="@{/gearboxes/add}" style="margin-top: 100px">
                    <input type="submit" value="Add Gearbox" style="color: black">
                </form>
            </th:block>
        </th:block>
        <h2 th:each="gearbox : ${gearboxes}" style="margin-top: 50px">
            <img th:src="${gearbox.image}" alt="image" style="width: 100px; margin-right: 25px">
            <a th:href="@{/gearboxes/{id} (id = ${gearbox.id})}" style="text-decoration: none">
                <span th:text="${gearbox.name}"/>
            </a>
            <h3 style="display: inline-flex; color: dimgrey; margin-right: 25px">Brands:</h3>
            <h4 th:each="brand : ${gearbox.brands}" style="display: inline-flex">
                <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none; margin-right: 50px">
                    <img th:src="${brand.image}" alt="image" style="width: 50px">
                    <span th:text="${brand.title}" style="color: grey"/>
                </a>
            </h4>
            <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 900px"></div>
        </h2>
        <br>
        <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
    </div>
</body>
</html>