<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gearbox</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px" class="w3-animate-opacity">
        <h1>Transmissions</h1>
        <h2>
            <a th:href="@{/gearboxes}" style="text-decoration: none">All Gearboxes</a>
        </h2>
        <div style="margin-top: 25px">
            <th:block th:if="${gearbox.brands.size() > 0 && gearbox.brands != null}">
                <h3 style="margin-right: 25px">Brands</h3>
                <h4 th:each="brand : ${gearbox.brands}" style="display: inline-flex">
                    <a th:href="@{/brands/{id} (id = ${brand.id})}" style="text-decoration: none; margin-right: 20px">
                        <img th:src="@{|/images/${brand.image.id}|}" alt="image" style="width: 50px">
                        <span th:text="${brand.title}"/>
                    </a>
                </h4>
            </th:block>
        </div>
        <div style="display: inline-block">
            <h2 th:text="${gearbox.name}">Edition</h2>
            <img th:src="${gearbox.image}" alt="image" style="width: 250px"><br>
            <h2 th:each="transmission : ${gearbox.transmissions}" style="display: inline-flex">
                <a th:href="@{/transmissions/{id} (id = ${transmission.id})}" style="text-decoration: none; margin-right: 20px">
                    <span th:text="${transmission.name}"/><br>
                    <span th:text="${transmission.driveType.name}" style="color: grey; font-size: 14px"/>
                </a>
            </h2>
        </div>
        <br>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <a th:href="@{/transmissions/secure/add (gearboxId = ${gearbox.id})}" style="text-decoration: none">Add Transmission</a>
            </th:block>
        </th:block>
        <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 900px"></div>
        <th:block th:if="${#authorization.expression('isAuthenticated')}">
            <th:block th:if="${user.role.name eq 'ADMIN'}">
                <div style="margin-top: 50px; display: inline-flex">
                    <form th:method="GET" th:action="@{|/gearboxes/${gearbox.id}/edit|}" style="margin-right: 20px">
                        <input type="submit" value="Edit" style="color: black">
                    </form>
                    <form th:method="DELETE" th:action="@{|/gearboxes/${gearbox.id}/delete|}">
                        <input type="submit" value="Delete" style="color: black">
                    </form>
                </div>
            </th:block>
        </th:block>
        <div style="margin-top: 100px">
            <input type="button" value="Back" style="color: black" onclick="history.back()">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>