<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin-left: 100px; margin-top: 50px; margin-right: 100px">
        <h2 th:each="car : ${cars}" style="display: inline-flex">
            <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none">
                <img th:src="${car.image}" alt="image" style="display: inline-flex; width: 250px; border-radius: 10%">
                <div th:text="${car.brand.title}" style="margin-left: 20px"/>
                <div th:text="${car.title}" style="margin-left: 20px"/>
            </a>
        </h2>
        <br><br>
        <input type="button" value="Add Car" onclick="location.assign('/cars/add')" style="color: black">
        <input type="button" value="Back" onclick="history.back()" style="color: black">
    </div>
</body>
</html>