<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/resource/css/imageModule.css">
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 25px 100px">
        <h3>
            <a th:href="@{/categories}">Categories</a>
        </h3>
    </div>
    <div style="display: inline-flex" th:object="${category}">
        <div style="margin: 50px 100px; display: inline-block">
            <h1><span th:text="*{name}"/></h1>
            <img id="myImg" th:src="@{*{image}}" alt="image" style="width: 700px; border-radius: 5%">
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01" alt="image">
                <div id="caption"></div>
            </div>
            <h2 style="margin-top: 50px">
                <a th:href="@{/categories/{id}/cars (id = *{id})}" style="text-decoration: none">Category Cars</a>
            </h2>
            <input type="button" value="Back" onclick="history.back()" style="color: black;margin-top: 50px">
        </div>
        <div style="margin: 50px 100px; display: inline-block">
            <h2>Description</h2>
            <p th:text="*{description}" style="text-align: justify">Description</p>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${user.role.name eq 'ADMIN'}">
                    <div style="margin-top: 100px; display: inline-flex">
                        <form th:method="GET" th:action="@{|/categories/${category.id}/edit|}" style="margin-right: 10px">
                            <input type="submit" value="Edit" style="color: black">
                        </form>
                        <form th:method="DELETE" th:action="@{|/categories/${category.id}/delete|}">
                            <input type="submit" value="Delete" style="color: black">
                        </form>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
<script src="/resource/js/imageResource.js"></script>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>