<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px" class="w3-animate-opacity">
        <h1>Категории</h1><br><br>
        <div style="margin: 10px 100px; text-align: center" class="w3-row">
            <div class="w3-col m2 w3-center w3-card w3-round-large w3-container w3-hover-shadow w3-hover-opacity"
                 style="margin: 20px" th:each="category : ${categories}">
                <a th:href="@{/categories/{id} (id = ${category.id})}" style="text-decoration: none"
                   class="w3-hover-opacity w3-hover-shadow">
                    <th:block th:if="${category.image != ''}">
                        <div style="width: 200px; height: 200px">
                            <img th:src="${category.image}" alt="image" style="width: 200px; margin-top: 70px">
                        </div>
                    </th:block>
                    <h2 th:text="${category.name}">Class</h2>
                </a>
            </div>
        </div>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name eq 'ADMIN'}">
                <div style="margin-top: 100px">
                    <input type="button" value="Add" style="color: black" onclick="location.assign('/categories/secure/add')">
                </div>
            </th:block>
        </th:block>
        <input class="w3-button w3-round w3-hover-shadow w3-light-grey" type="button" value="Назад"
               onclick="history.back()" style="color: black;margin-top: 50px">
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>