<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h2 th:each="category : ${categories}">
            <a th:href="@{/categories/{id} (id = ${category.id})}" style="text-decoration: none">
                <span th:text="${category.name}"/>
            </a>
            <div style="border-top: 1px solid gray; margin-top: 25px; margin-bottom: 25px; margin-right: 900px"></div>
        </h2>
        <input type="button" value="Back" onclick="history.back()" style="color: black;margin-top: 50px">
    </div>
</body>
</html>