<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin-top: 7%">
        <form th:method="POST" th:action="@{/cars/add}" th:object="${car}">

            <label for="title">Title</label><br>
            <input type="text" id="title" th:field="*{title}">
            <th:block th:if="${#fields.hasErrors('title')}">
                <span th:errors="*{title}" style="color: red">Title Field Errors</span>
            </th:block>
            <br><br>

            <label for="brand">Brand</label><br>
            <select size="1" th:field="*{brand.id}" id="brand" onclick="size=(size!==1)?n:5" onmouseleave="size=(size!==5)?n:1">
                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.title}">Brand</option>
            </select><br><br>

            <label for="class">Classification</label><br>
            <select th:field="*{classification.id}" id="class">
                <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}">Class</option>
            </select><br><br>

            <label for="category">Category</label><br>
            <select th:field="*{category.id}" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select><br><br>

            <label for="image">Image</label><br>
            <input type="url" id="image" th:field="*{image}"><br><br>

            <label for="webpage">Webpage</label><br>
            <input type="url" id="webpage" th:field="*{webpage}"><br><br>

            <label for="description">Description</label><br>
            <textarea th:field="*{description}" id="description" cols="40" rows="5"></textarea><br><br>

            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>