<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Page</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 25px 100px 10px">
        <h3>
            <a th:href="@{/brands}">Brands</a> /
            <a th:href="@{/brands/{id} (id = ${car.brand.id})}" th:text="${car.brand.title}">Brand</a> /
            <a th:href="@{/brands/{id}/cars (id = ${car.brand.id})}">Brand Cars</a>
        </h3>
    </div>
    <div style="margin: 10px 100px">
        <h3>
            <a th:href="@{/classes}">Classes</a> /
            <a th:href="@{/classes/{id} (id = ${car.classification.id})}" th:text="${car.classification.name.substring(0,7)}">Class</a> /
            <a th:href="@{/classes/{id}/cars (id = ${car.classification.id})}">Classification Cars</a>
        </h3>
    </div>
    <div style="margin: 10px 100px">
        <h3>
            <a th:href="@{/categories}">Categories</a> / {
            <a th:href="@{/categories/{id} (id = ${car.category.id})}" th:text="${car.category.name}"></a>} /
            <a th:href="@{/categories/{id}/cars (id = ${car.category.id})}">Category Cars</a>
        </h3>
    </div>
    <div style="margin-left: 100px; margin-top: 50px; margin-bottom: 50px; display: inline-flex" th:object="${car}">

        <div style="display: inline-block">
            <h1 th:text="*{title}">Title</h1>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <h3 style="color: grey">
                    Owner: <a style="font-weight: normal; text-decoration: none"
                              th:href="@{/users/{name} (name = *{person.username})}" th:text="*{person.username}"></a><br>
                    <a style="font-weight: normal; font-size: 14px; text-decoration: none"
                       th:href="@{/users/{name}/cars (name = *{person.username})}">All cars of this user</a>
                </h3>
            </th:block>
            <img th:src="*{image}" alt="image" style="width: 600px; border-radius: 10%">
            <h2>
                Class:
                <a th:href="@{/classes/{id} (id = *{classification.id})}" style="text-decoration: none">
                    <span th:text="*{classification.name.substring(0,7)}" style="font-weight: normal"/>
                </a><br>
                <a href="/classes" style="font-weight: normal; text-decoration: none; font-size: 12px; color: gray">All classes</a>
            </h2>
            <h2>
                Category:
                <a th:href="@{/categories/{id} (id = *{category.id})}" style="text-decoration: none">
                    <span th:text="*{category.name}" style="font-weight: normal"/>
                </a><br>
                <a href="/categories" style="font-weight: normal; font-size: 12px; color: gray; text-decoration: none">All categories</a>
            </h2>
            <h2>
                Brand: <a th:href="@{/brands/{id} (id = *{brand.id})}" th:text="*{brand.title}"
                          style="font-weight: normal; text-decoration: none">Brand</a>
            </h2>
            <h2>
                Webpage: <a th:href="*{webpage}" th:text="*{title}" target="_blank"
                            style="font-weight: normal; text-decoration: none">Webpage</a>
            </h2>
            <div style="margin-top: 100px">
                <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 50px">
            </div>
        </div>

        <div style="display: inline-block; margin-left: 100px">
            <h2>Description</h2>
            <p th:text="*{description}" style="text-align: justify; padding-right: 250px;">Description</p>

            <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 240px"></div>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <h2 style="margin-top: 50px">Complectations</h2>
                <div style="color: grey" th:if="*{equipments.size() != 0}">
                    <span th:text="|*{equipments.size()}/5|"/>
                </div>
                <div style="color: grey" th:if="${car.equipments.size() == 0 && user.equipments.size() == 0}">
                    <span>Create a complectation on your user page to install it on your vehicle.</span>
                </div>
                <div style="display: inline-flex; border: 1px grey dashed; margin-right: 10px; margin-top: 10px"
                     th:each="complectation : *{equipments}">
                    <div style="display: inline-block; margin-right: 10px; margin-left: 10px">
                        <h3 style="text-align: center">
                            <a th:href="@{/equipments/{id} (id = ${complectation.id})}"
                               style="text-decoration: none">
                                <img th:src="${complectation.image}" alt="image" style="width: 50px; border-radius: 10%"><br>
                                <span th:text="${complectation.name}"/>
                            </a>
                            <th:block th:if="${user.username eq car.person.username}">
                                <div style="margin-top: 25px">
                                    <form th:method="DELETE"
                                          th:action="@{/cars/{id}/remove-equipment-from-car (id = *{id}, complId = ${complectation.id})}">
                                        <input type="submit" value="Remove" style="color: black">
                                    </form>
                                </div>
                            </th:block>
                        </h3>
                    </div>
                </div>
                <div th:if="*{equipments.size() < 5}" style="margin-top: 50px">
                    <th:block th:if="${user.username eq car.person.username}">
                        <h4 style="color: grey" th:if="*{equipments.size() == 0}">Empty</h4>
                        <th:block th:if="${userEquipments.size() > 0}">
                            <div style="width: 200px">
                                <form th:method="POST" th:action="@{/cars/{id}/attach-equipment (id = *{id})}">
                                    <label for="equipments">Your Complectations</label><br><br>
                                    <select th:field="${addingEquipment.id}" id="equipments">
                                        <option th:each="userEquipment : ${userEquipments}"
                                                th:value="${userEquipment.id}" th:text="${userEquipment.name}"></option>
                                    </select>
                                    <input type="submit" value="Attach" style="color: black">
                                </form>
                            </div>
                        </th:block>
                        <th:block th:if="${userEquipments.size() == 0}">
                            <h4 style="color: grey">All your complectations attached. Create new complectations in your profile page.</h4>
                        </th:block>
                    </th:block>
                </div>

                <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 240px"></div>

                <h2 style="margin-top: 50px">Tags</h2>
                <th:block th:if="${user.username eq car.person.username}">
                    <div style="display: inline-flex; margin-top: 25px">
                        <form th:method="POST" th:action="@{/cars/{id}/attach-tag (id = *{id})}">
                            <label for="tags">Ready Tags</label><br><br>
                            <select th:field="${attachTag.id}" id="tags" size="1"
                                    onclick="size=(size!==1)?n:5" onmouseleave="size=(size!==5)?n:1">
                                <option th:each="tag : ${allTags}" th:value="${tag.id}" th:text="${tag.name}"></option>
                            </select><br><br>
                            <input type="submit" value="Attach Tag" style="color: black">
                        </form>
                        <form th:method="PUT" th:action="@{/cars/{id}/add-tag (id = *{id})}" style="margin-left: 20px">
                            <label for="tag">New Tag</label><br><br>
                            <input type="text" id="tag" th:field="${newTag.name}"><br><br>
                            <input type="submit" value="Add and Attach" style="color: black">
                        </form>
                    </div>
                </th:block>
                <br><br>

                <div th:each="tag : *{tags}" style="font-size: 18px; display: inline-flex">
                    <a th:href="@{/cars/search-by-tag (tag = ${tag.name}, carId = ${car.id})}" style="text-decoration: none">
                        <span th:text="|'#'${tag.name}|" style="margin-right: 25px"/>
                    </a>
                </div>

                <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 240px"></div>

                <th:block th:if="${user.username eq car.person.username}">
                    <h2 style="margin-top: 50px">Car</h2>
                    <div style="display: inline-flex; margin-top: 10px">
                        <form th:method="GET" th:action="@{/cars/{id}/edit (id = *{id})}">
                            <input type="submit" value="Edit" style="color: black">
                        </form>
                        <form th:method="DELETE" th:action="@{/cars/{id}/delete (id = *{id})}">
                            <input type="submit" value="Remove" style="color: black; margin-left: 20px">
                        </form>
                        <form th:method="GET" th:action="@{/cars/{id}/handover (id = *{id})}">
                            <input type="submit" value="Handover" style="color: black; margin-left: 20px">
                        </form>
                    </div>
                </th:block>
            </th:block>

            <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <th:block th:case="${false}">
                    <h2 style="margin-top: 50px">Tags</h2>
                    <div th:each="tag : *{tags}" style="font-size: 18px; display: inline-flex">
                        <a th:href="@{/cars/search-by-tag (tag = ${tag.name}, carId = ${car.id})}" style="text-decoration: none">
                            <span th:text="|'#'${tag.name}|" style="margin: 5px"/>
                        </a>
                    </div>
                    <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 240px"></div>
                </th:block>
            </th:block>
        </div>
    </div>
</body>
</html>