<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search By Tag</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin-left: 100px; margin-top: 50px">
        <h2 th:each="car : ${carsByTag}" style="display: inline-flex">
            <div th:each="brand : ${brands}" th:if="${car.brandId == brand.id}">
                <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none; margin: 25px">
                    <img th:src="${car.image}" alt="image" style="display: inline-flex; width: 100px; border-radius: 10%"><br>
                    <div th:text="${brand.title}" style="margin-left: 20px"/>
                    <div th:text="${car.title}" style="margin-left: 20px"/>
                </a>
            </div>
        </h2>
    </div>
</body>
</html>