<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <form th:method="GET" th:action="@{/cars/find-cars}">
            <div style="display: inline-flex">
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="brands">Brands</label><br>
                    <select name="searchBrand" id="brands">
                        <option value=""></option>
                        <option th:each="brand : ${brands}" th:value="${brand.title}" th:text="${brand.title}">Brand</option>
                    </select>
                </div>
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="classes">Classes</label><br>
                    <select name="searchClass" id="classes">
                        <option value=""></option>
                        <option th:each="class : ${classes}" th:value="${class.name}" th:text="${class.name}">Class</option>
                    </select>
                </div>
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="categories">Categories</label><br>
                    <select name="searchCategory" id="categories">
                        <option value=""></option>
                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">Category</option>
                    </select>
                </div>
                <input type="submit" value="Get Cars" style="color: black">
            </div>
        </form>
    </div>
    <div style="margin: 50px 100px">
        <h1>All Cars</h1>
        <th:block th:if="${cars.size() < 1}">
            <h2>No results</h2>
        </th:block>
        <div th:each="car : ${cars}" style="display: inline-flex">
            <h2 style="height: 250px; width: 250px; margin-right: 80px">
                <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none">
                    <img th:src="${car.image}" alt="image" style="display: inline-flex; width: 250px; border-radius: 10%"><br>
                    <div th:text="${car.brand.title}" style="margin-left: 20px"/>
                    <div th:text="${car.title}" style="margin-left: 20px"/>
                </a>
            </h2>
        </div>
        <br><br>
        <ul style="display: inline-flex; list-style-type: none">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px">
                    <a class="page-link" th:href="@{/cars/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
        <div style="margin-top: 100px">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </div>
    </div>
</body>
</html>