<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <form th:method="GET" th:action="@{/cars/find-cars}">
            <div style="display: inline-flex">
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="brands">Brands</label><br>
                    <select name="searchBrand" id="brands">
                        <option value=""></option>
                        <option th:each="brand : ${brands}" th:value="${brand.title}" th:text="${brand.title}">Brand</option>
                    </select>
                </div>
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="classes">Classes</label><br>
                    <select name="searchClass" id="classes">
                        <option value=""></option>
                        <option th:each="class : ${classes}" th:value="${class.name}" th:text="${class.name}">Class</option>
                    </select>
                </div>
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="categories">Categories</label><br>
                    <select name="searchCategory" id="categories">
                        <option value=""></option>
                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">Category</option>
                    </select>
                </div>
                <div style="text-align: center; display: inline-block; margin-right: 25px">
                    <label for="drives">Drives</label><br>
                    <select name="searchDrive" id="drives">
                        <option value=""></option>
                        <option th:each="drive : ${drives}" th:value="${drive.name}" th:text="${drive.name}">Drive</option>
                    </select>
                </div>
                <input type="submit" value="Get Cars" style="color: black">
            </div>
        </form>
    </div>
    <div style="margin: 50px 100px">
        <h1>All Cars</h1>
        <th:block th:if="${cars.size() < 1}">
            <h2>No results</h2>
        </th:block>
        <th:block th:each="car : ${cars}">
            <div style="display: inline-flex; height: 300px; width: 300px; margin: 15px" class="w3-card-4 w3-hover-shadow">
                <h2 style="margin: 10px; text-align: center">
                    <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none">
                        <th:block th:if="${imageMap.size() > 0 && imageMap != null}">
                            <th:block th:each="image : ${imageMap}">
                                <th:block th:if="${image.key.equals(car.title) eq true && car.hasPreview == true}">
                                    <img th:src="@{|/images/${image.value.id}|}" alt="image"
                                         style="display: inline-flex; width: 250px; border-radius: 10%"><br>
                                </th:block>
                            </th:block>
                            <th:block th:if="${car.hasPreview == false}">
                                <img src="/resource/images/emptyCarImage.jpg" alt="image" style="width: 250px; border-radius: 10%">
                            </th:block>
                        </th:block>
                        <div th:text="${car.brand != null ? car.brand.title : 'No Brand'}" style="margin-left: 20px"/>
                        <div th:text="${car.title}" style="margin-left: 20px"/>
                    </a>
                </h2>
            </div>
        </th:block>
        <div style="margin-top: 100px">
            <ul style="display: inline-flex; list-style-type: none">
                <th:block th:each="pageNumber : ${pages}">
                    <li class="page-item" style="margin-right: 10px">
                        <a class="page-link" th:href="@{/cars/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                    </li>
                </th:block>
            </ul>
        </div>
        <div style="margin-top: 100px">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>