<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin: 3% 100px 50px;" class="w3-animate-opacity">

        <div class="w3-card w3-round-large" style="width: 900px; margin-left: 400px">
            <div class="w3-container w3-win8-blue">
                <h1>Добавить автомобиль</h1>
            </div>
            <div class="w3-container">
                <form th:method="PATCH" th:action="@{/cars/{id}/edit (id = *{id})}" th:object="${car}">
                    <div style="margin-left: 100px; margin-top: 20px">
                        <div style="display: inline-block; margin-left: -100px; margin-right: 100px">

                            <input type="hidden" name="username" th:value="${user.username}">

                            <label for="brand">Бренд</label><br>
                            <select size="1" th:field="*{brand.id}" id="brand" style="width: 300px">
                                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.title}"
                                        th:selected="${car.brand.id eq brand.id}">Brand</option>
                            </select><br><br>

                            <label for="class">Класс</label><br>
                            <select th:field="*{classification.id}" id="class" style="width: 300px">
                                <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"
                                        th:selected="${car.classification.id eq class.id}">Class</option>
                            </select><br><br>

                            <label for="category">Категория</label><br>
                            <select th:field="*{category.id}" id="category" style="width: 300px">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                                        th:selected="${car.category.id eq category.id}"></option>
                            </select><br><br>

                            <label for="drive">Привод</label><br>
                            <select th:field="*{driveUnit.id}" id="drive" style="width: 300px">
                                <option th:each="drive : ${drives}" th:value="${drive.id}" th:text="${drive.name}"
                                        th:selected="${car.driveUnit.id eq drive.id}">Drive</option>
                            </select><br><br>
                        </div>
                        <div style="display: inline-block; margin-top: 20px">

                            <label for="title">Наименование</label><br>
                            <input class="w3-input w3-border w3-light-grey w3-round-large"
                                   type="text" id="title" th:field="*{title}" required>
                            <th:block th:if="${#fields.hasErrors('title')}">
                                <span th:errors="*{title}" style="color: red">Title Field Errors</span>
                            </th:block>
                            <br>

                            <label for="weight">Вес</label><br>
                            <input class="w3-input w3-border w3-light-grey w3-round-large"
                                   type="text" id="weight" th:field="*{weight}" required><br>

                            <label for="webpage">Веб-страница</label><br>
                            <input class="w3-input w3-border w3-light-grey w3-round-large"
                                   type="url" id="webpage" th:field="*{webpage}"><br>
                        </div>
                    </div>

                    <label for="description">Описание</label><br>
                    <textarea th:field="*{description}" id="description" cols="40" rows="5" style="width: 750px"></textarea><br><br>

                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input class="w3-button w3-win8-blue w3-round" type="submit" value="Принять" style="color: black">
                    <input class="w3-button w3-light-grey w3-round" type="button" value="Назад" onclick="history.back()" style="color: black">
                </form>
            </div>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>