<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Images</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h2>
            <a th:href="@{/cars/{id} (id = ${car.id})}" th:text="|${car.brand != null ? car.brand.title : ''} ${car.title} page|">Car Page</a>
        </h2>
        <h1 style="margin-top: 50px"><span th:text="|${car.title} images|"/></h1>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.username eq car.person.username}">
                <div style="margin-top: 100px">
                    <form th:method="POST" th:action="@{/cars/{id}/add-images-at-images-page (id = ${car.id})}" enctype="multipart/form-data">
                        <label for="addImages">Add Images</label>
                        <input type="file" id="addImages" name="file" accept="image/png, image/jpeg" multiple>
                        <input type="submit" value="Add" style="color: black">
                    </form>
                </div>
            </th:block>
        </th:block>
        <th:block th:if="${car.hasPreview == true}">
            <h2 style="margin-top: 50px">Preview Image</h2>
            <div style="display: inline-flex" th:each="image : ${images}">
                <th:block th:if="${image.preview == true}">
                    <div style="width: 250px; margin-right: 80px; margin-top: 80px; display: inline-block; text-align: center">
                        <img th:src="@{|/images/${image.id}|}" alt="image" style="display: inline-flex; width: 250px; border-radius: 2%">
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <th:block th:if="${user.username eq car.person.username}">
                                <div style="display: inline-flex">
                                    <form th:method="POST" th:action="@{|/cars/${car.id}/remove-preview-from-images|}" style="margin-right: 10px">
                                        <input type="submit" value="Remove Preview" style="color: black">
                                    </form>
                                    <form th:method="DELETE" th:action="@{|/cars/${car.id}/delete-image/${image.id}|}">
                                        <input type="submit" value="Delete" style="color: black">
                                    </form>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </th:block>
        <div style="margin-top: 80px">
            <h2>Images</h2>
        </div>
        <div style="display: inline-flex" th:each="image : ${images}">
            <th:block th:if="${image.preview == false}">
                <div style="width: 250px; margin-right: 80px; margin-top: 80px; display: inline-block; text-align: center">
                    <img th:src="@{|/images/${image.id}|}" alt="image" style="display: inline-flex; width: 250px; border-radius: 2%">
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <th:block th:if="${user.username eq car.person.username}">
                            <div style="display: inline-flex">
                                <form th:method="POST" th:action="@{|/cars/${car.id}/set-preview/${image.id}|}" style="margin-right: 10px">
                                    <input type="submit" value="Set Preview" style="color: black">
                                </form>
                                <form th:method="DELETE" th:action="@{|/cars/${car.id}/delete-image/${image.id}|}">
                                    <input type="submit" value="Delete" style="color: black">
                                </form>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
        </div>
        <br><br>
        <ul style="display: inline-flex; list-style-type: none">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px">
                    <a class="page-link" th:href="@{|/cars/${car.id}/images/pages/${pageNumber}|}" th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
    </div>
</body>
</html>