<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px" th:object="${class}">
        <h1>
            <span th:text="*{name}"/>
        </h1>
        <img th:src="@{*{image}}" alt="image" style="width: 700px; border-radius: 5%">
        <h2>Description</h2>
        <p th:text="*{description}" style="text-align: justify; margin-right: 400px">Description</p><br>
        <input type="button" value="Back" onclick="history.back()" style="color: black">
    </div>
</body>
</html>