<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Классы</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div class="w3-animate-opacity">
        <div style="margin: 50px 100px">
            <h1 class="w3-tag w3-light-grey w3-round-large" style="width: 1720px">Классы</h1><br><br>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${user.role.name eq 'ADMIN'}">
                    <div>
                        <input class="w3-button w3-round w3-teal" type="button" value="Добавить"
                               style="color: black" onclick="location.assign('/classes/secure/add')">
                    </div>
                </th:block>
            </th:block>
            <div style="margin: 10px 100px; text-align: center" class="w3-row">
                <div class="w3-col m2 w3-center" style="margin: 20px" th:each="class : ${classes}">
                    <a th:href="@{/classes/{id} (id = ${class.id})}" style="text-decoration: none">
                        <div class="w3-card w3-round-large w3-container w3-hover-opacity w3-hover-shadow"
                             style="width: 290px; height: 300px">
                            <th:block th:if="${class.image != ''}">
                                <div style="width: 250px; height: 150px; margin-top: 20px">
                                    <img th:src="${class.image}" alt="image" style="width: 250px">
                                </div>
                            </th:block>
                            <h2 th:text="${class.name}">Class</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin: 50px 100px">
            <input class="w3-button w3-round w3-hover-shadow w3-light-grey" type="button" value="Назад" onclick="history.back()" style="color: black">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>