<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Classifications</h1>
        <div th:each="class : ${classes}" style="display: inline-flex">
            <h2 style="margin-right: 80px; width: 250px; height: 250px">
                <a th:href="@{/classes/{id} (id = ${class.id})}" style="text-decoration: none">
                    <img th:src="@{${class.image}}" alt="image" style="width: 250px; border-radius: 5%"><br><br>
                    <span th:text="${class.name.substring(0,7)}"/>
                </a>
            </h2>
        </div>
    </div>
    <div style="margin: 50px 100px">
        <input type="button" value="Back" onclick="history.back()" style="color: black">
    </div>
</body>
</html>