<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 25px 100px">
        <h3>
            <a th:href="@{/classes}">Classes</a>
        </h3>
    </div>
    <div style="display: inline-flex" th:object="${class}">
        <div style="margin: 50px 100px; display: inline-block">
            <h1><span th:text="*{name}"/></h1>
            <img th:src="@{*{image}}" alt="image" style="width: 700px; border-radius: 5%">
            <h2 style="margin-top: 50px">
                <a th:href="@{/classes/{id}/cars (id = *{id})}" style="text-decoration: none">Class Cars</a>
            </h2>
            <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 50px">
        </div>
        <div style="margin: 50px 100px; display: inline-block">
            <h2>Description</h2>
            <p th:text="*{description}" style="text-align: justify">Description</p><br>
        </div>
    </div>
</body>
</html>