<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px">
        <h2 th:each="class : ${classes}">
            <a th:href="@{/classes/{id} (id = ${class.id})}" style="text-decoration: none">
                <span th:text="${class.name.substring(0,7)}"/><br><br>
                <img th:src="@{${class.image}}" alt="image" style="width: 250px; border-radius: 5%">
            </a>
        </h2>
        <input type="button" value="Back" onclick="history.back()" style="color: black">
    </div>
</body>
</html>