<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="w3-animate-top"
         style="margin-top: -35px; background-color: #d0d5e0; border-radius: 5%; margin-left: 25px; margin-right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 120px" th:fragment="bar(user_image)">
        <h2 style="margin-left: 100px; display: inline-flex; margin-right: 20px">
            <a class="w3-hover-opacity" style="text-decoration: none" href="/">
                <img src="/resource/images/home.png" alt="image" style="width: 30px; height: 30px; margin-top: -13px">
            </a></h2>
        <h3 style="display: inline-flex; margin-right: 20px">
            <a class="w3-hover-opacity" style="text-decoration: none" href="/classes">Классы</a>
        </h3>
        <h3 style="display: inline-flex; margin-right: 20px"><a class="w3-hover-opacity" style="text-decoration: none" href="/categories">Категории</a></h3>
        <h3 style="display: inline-flex; margin-right: 20px"><a class="w3-hover-opacity" style="text-decoration: none" href="/brands">Бренды</a></h3>
        <h3 style="display: inline-flex; margin-right: 20px"><a class="w3-hover-opacity" style="text-decoration: none" href="/cars">Автомобили</a></h3>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <h3 style="display: inline-flex; margin-right: 20px">
                <a class="w3-hover-opacity" style="text-decoration: none" href="/equipments">Комплектации</a></h3>
        </th:block>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <div style="display: inline-flex; margin-right: 20px">
                <label for="SelectOption"></label><br>
                <select id="SelectOption" onchange="window.location.href=this.value">
                    <option>Запчасти</option>
                    <option value="/editions">Двигатели</option>
                    <option value="/gearboxes">Трансмиссии</option>
                    <option value="/turbo-types">Турбонаддувы</option>
                </select>
            </div>
        </th:block>
        <form th:method="GET" th:action="@{/search}" style="display: inline-flex; margin-right: 20px">
            <label for="search"></label>
            <input class="w3-input" type="text" id="search" name="search"
                   style="margin-right: 10px; height: 28px; margin-top: 68px; width: 150px">
            <label for="objects"></label>
            <div style="margin-top: 67px">
                <select name="selectObjects" id="objects" multiple style="width: 150px">
                    <option value="brands" name="Brands">Бренды</option>
                    <option value="cars" name="Cars">Автомобили</option>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <option value="engines" name="Engines">Двигатели</option>
                        <option value="transmissions" name="Transmissions">Трансмиссии</option>
                        <option value="turbochargers" name="Turbochargers">Турбонаддувы</option>
                    </th:block>
                </select>
            </div>
            <input class="w3-button w3-blue w3-round"
                   type="submit" value="Поиск" style="margin-left: 10px; color: black; height: 38px; margin-top: 58px">
        </form>
        <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <th:block th:case="${false}">
                <div style="text-align: right; margin-right: 100px; margin-top: -62px">
                    <h3 style="display: inline-flex; margin-right: 20px">
                        <a class="w3-hover-opacity" style="text-decoration: none" href="/login">Войти</a>
                    </h3>
                    <h3 style="display: inline-flex; margin-right: 20px"><a class="w3-hover-opacity" style="text-decoration: none" href="/registration">Регистрация</a></h3>
                </div>
            </th:block>
            <th:block th:case="${true}">
                <div style="text-align: right; margin-right: 100px; margin-top: -65px; margin-left: 100px">
                    <h3 style="display: inline-flex; margin-right: 20px">
                        <a class="w3-hover-opacity" style="text-decoration: none" th:href="@{/users}">Пользователи</a>
                    </h3>
                    <h2 style="display: inline-flex; margin-right: 20px">
                        <a style="text-decoration: none" th:href="@{/users/{name} (name = ${#authentication.name})}">
                            <th:block th:if="${user_image != null}">
                                <img class="w3-hover-opacity w3-circle" th:src="@{|/images/${user_image}|}" alt="image" style="height: 40px">
                            </th:block>
                            <th:block th:if="${user_image == null}">
                                <img class="w3-hover-opacity w3-circle" src="/resource/images/emptyUserImage.png" alt="image"
                                     style="height: 40px">
                            </th:block>
                        </a>
                    </h2>
                    <form action="/logout-status" method="post" style="display: inline-flex; margin-left: -10px">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input class="w3-hover-opacity" type="submit" value="Выйти"
                               style="background: none; border: none; text-decoration: none;
                               cursor: pointer; font-size: 20px">
                    </form>
                </div>
            </th:block>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="pagination(pages,pageSize,pageLast,link)">
    <ul>
        <th:block th:each="pageNumber : ${pages}">
            <th:block th:if="${pageNumber > 1 && pageSize > 1}">
                <li class="page-item">
                    <a class="page-link" th:href="@{|${link}${1}|}">First</a>
                </li>
            </th:block>
            <th:block th:if="${pageNumber > 1 && pageSize > 1}">
                <li class="page-item">
                    <a class="page-link" th:href="@{|${link}${pageNumber - 1}|}">Previous</a>
                </li>
            </th:block>
            <li class="page-item">
                <a class="page-link" th:href="@{|${link}${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
            <th:block th:if="${pageSize > 1 && pageNumber != pageLast}">
                <li class="page-item">
                    <a class="page-link" th:href="@{|${link}${pageNumber + 1}|}">Next</a>
                </li>
            </th:block>
            <th:block th:if="${pageSize > 1 && pageNumber != pageLast}">
                <li class="page-item">
                    <a class="page-link" th:href="@{|${link}${pageLast}|}">Last</a>
                </li>
            </th:block>
        </th:block>
    </ul>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="searchSelectors">
        <link href="https://harvesthq.github.io/chosen/chosen.css" rel="stylesheet"/>
        <script src="https://harvesthq.github.io/chosen/docsupport/jquery-3.2.1.min.js"></script>
        <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
        <link rel="stylesheet" href="/resource/css/textAreaStyle.css">
    </div>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org">
    <script th:fragment="searchScript" src="/resource/js/selectChosen.js"></script>
</th:block>