<th:block xmlns:th="http://www.thymeleaf.org">
    <div style="margin-left: 100px; margin-top: 10px" th:fragment="bar">
        <h2 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/">Home</a></h2>
        <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/classes">Classes</a></h3>
        <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/categories">Categories</a></h3>
        <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/brands">Brands</a></h3>
        <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/cars">Cars</a></h3>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/equipments">Complectations</a></h3>
        </th:block>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <div style="display: inline-flex; margin-right: 20px">
                <label for="SelectOption"></label><br>
                <select id="SelectOption" onchange="window.location.href=this.value">
                    <option>Components</option>
                    <option value="/editions">Engines</option>
                    <option value="/gearboxes">Transmissions</option>
                    <option value="/turbo-types">Turbochargers</option>
                </select>
            </div>
        </th:block>
        <form th:method="GET" th:action="@{/search}" style="display: inline-flex; margin-right: 20px">
            <label for="search"></label>
            <input type="text" id="search" name="search">
            <input type="submit" value="Search" style="margin-left: 10px; color: black">
        </form>
        <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <th:block th:case="${false}">
                <div style="text-align: right; margin-right: 100px; margin-top: -62px">
                    <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/login">Login</a></h3>
                    <h3 style="display: inline-flex; margin-right: 20px"><a style="text-decoration: none" href="/registration">Registration</a></h3>
                </div>
            </th:block>
            <th:block th:case="${true}">
                <div style="text-align: right; margin-right: 100px; margin-top: -67px">
                    <h3 style="display: inline-flex; margin-right: 20px">
                        <a style="text-decoration: none" th:href="@{/users}" >Users</a>
                    </h3>
                    <h2 style="display: inline-flex; margin-right: 20px">
                        <a style="text-decoration: none"
                           th:href="@{/users/{name} (name = ${#authentication.name})}" th:text="${#authentication.name}">User</a>
                    </h2>
                    <form action="/logout" method="post" style="display: inline-flex; margin-right: 20px">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input type="submit" value="Logout"
                               style="background: none; border: none; color: dimgrey; text-decoration: none;
                               cursor: pointer; font-size: 16px; font-weight: bold">
                    </form>
                </div>
            </th:block>
        </th:block>
    </div>
</th:block>