<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${guest.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${guest.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${guest.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin-top: 3%; margin-bottom: 50px" class="w3-animate-opacity">
        <div class="w3-card w3-round-large" style="width: 900px; margin-left: 500px">
            <div class="w3-container w3-teal">
                <h1>Изменение данных</h1>
            </div>
            <br>
            <form th:method="POST" th:action="@{/users/secure/edit}">

                <div style="display: inline-flex">
                    <div style="display: inline-block; width: 350px">
                        <label for="id"></label><br>
                        <input type="hidden" id="id" th:field="${owner.id}">

                        <label for="username">Логин</label><br>
                        <input class="w3-input w3-border w3-light-grey w3-round-large"
                               type="text" id="username" th:field="${owner.username}"><br><br>

                        <label for="email">Эл. почта</label><br>
                        <input class="w3-input w3-border w3-light-grey w3-round-large"
                               type="email" id="email" th:field="${owner.email}"><br><br>

                        <label for="password">Пароль</label><br>
                        <input class="w3-input w3-border w3-light-grey w3-round-large"
                               type="text" id="password" th:field="${owner.password}"><br><br>

                        <input type="hidden" th:field="${owner.image}">
                        <input type="hidden" th:field="${owner.verified}">
                    </div>

                    <div style="display: inline-block; margin-left: 100px; margin-top: 20px">
                        <label for="firstname">Фамилия</label><br>
                        <input class="w3-input w3-border w3-light-grey w3-round-large"
                               type="text" id="firstname" th:field="${owner.firstname}"><br><br>

                        <label for="lastname">Имя</label><br>
                        <input class="w3-input w3-border w3-light-grey w3-round-large"
                               type="text" id="lastname" th:field="${owner.lastname}"><br><br>

                    </div>
                </div>

                <div>
                    <label for="description">Описание</label><br>
                    <textarea class="w3-round" style="width: 500px; height: 100px"
                               id="description" cols="50" rows="3" th:field="${owner.description}"></textarea><br><br>

                    <th:block th:if="${owner.role.name == 'ADMIN'}">
                        <label for="roles">Доступ</label><br>
                        <select name="roleId" id="roles" style="width: 200px">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Role</option>
                        </select><br><br>
                    </th:block>
                    <th:block th:ii="${owner.role.name == 'USER'}">
                        <input type="hidden" name="roleId" th:value="${owner.role.id}">
                    </th:block>

                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                    <input type="submit" value="Принять" style="color: black" class="w3-button w3-teal w3-round">
                    <input type="button" value="Назад" style="color: black" class="w3-button w3-grey w3-round" onclick="history.back()">
                </div>
            </form>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>