<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Equipments</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${guest.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px" th:object="${owner}">
        <th:block th:if="${owner.username eq guest.username}">
            <h1>My Complectations</h1>
        </th:block>
        <th:block th:if="${owner.username != guest.username}">
            <h2>
                <a th:href="@{/users/{name} (name = ${owner.username})}">
                    <span th:text="${owner.username}"/>
                </a><br>
                complectations
            </h2>
        </th:block>
        <th:block th:if="*{equipments.size() < 1}">
            <h2>No results</h2>
        </th:block>
        <div style="margin-top: 50px">
            <form th:method="GET" th:action="@{/users/{name}/equipments/search (name = ${owner.username})}">
                <label for="search">Search</label><br>
                <input type="text" id="search" name="search" th:value="${search}">
                <input type="submit" value="Search" style="color: black">
            </form>
        </div>
        <div th:each="equipment : ${equipments}" style="display: inline-flex">
            <h2 style="height: 250px; width: 250px; margin-right: 80px">
                <a th:href="@{/equipments/{id} (id = ${equipment.id})}" style="text-decoration: none">
                    <img th:src="${equipment.image}" alt="image" style="display: inline-flex; width: 250px; border-radius: 10%"><br>
                    <div th:text="${equipment.name}" style="margin-left: 20px"/>
                    <th:block th:if="${equipment.attached == true}">
                        <div th:text="|${equipment.car.brand.title} ${equipment.car.title}|" style="margin-left: 20px"/>
                        <div style="color: gray; margin-left: 20px">Attached</div>
                    </th:block>
                    <th:block th:if="${equipment.attached == false}">
                        <div style="color: gray; margin-left: 20px">Not Attached</div>
                    </th:block>
                </a>
            </h2>
        </div>
        <div style="margin-top: 100px">
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.username eq guest.username}">
                    <input type="button" value="Add" onclick="location.assign('/equipments/add')" style="color: black">
                </th:block>
            </th:block>
            <div style="margin-top: 50px">
                <ul style="display: inline-flex; list-style-type: none">
                    <th:block th:each="pageNumber : ${pages}">
                        <li class="page-item" style="margin-right: 10px">
                            <a class="page-link" th:href="@{/users/{name}/equipments/search/pages/{page}
                                (name = ${owner.username}, page = ${pageNumber}, search = ${search})}" th:text="${pageNumber}">1</a>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div style="margin-top: 50px">
                <input type="button" value="Back" onclick="history.back()" style="color: black">
            </div>
        </div>
    </div>
</body>
</html>