<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find user cars</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${guest.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${guest.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${guest.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px" th:object="${owner}" class="w3-animate-opacity">
        <th:block th:if="${owner.username eq guest.username}">
            <h1>Мои автомобили</h1>
        </th:block>
        <th:block th:if="${owner.username != guest.username}">
            <h2>
                <a th:href="@{/users/{name} (name = ${owner.username})}">
                    <span th:text="${owner.username}"/>
                </a><br>
                cars
            </h2>
        </th:block>
        <th:block th:if="*{cars.size() < 1}">
            <h2>Нет результатов</h2>
        </th:block>
        <div style="margin-top: 50px; display: inline-flex">
            <form style="display: inline-flex" th:method="GET" th:action="@{/users/{name}/cars/search (name = ${owner.username})}">
                <label for="search"></label><br>
                <input class="w3-input" style="width: 250px" type="text" id="search" name="search" th:value="${search}">
                <input class="w3-btn w3-blue w3-round" type="submit" value="Поиск" style="color: black; margin-left: 10px">
            </form>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.username eq guest.username}">
                    <input class="w3-btn w3-teal w3-round" type="button" value="Добавить" onclick="location.assign('/cars/secure/add')"
                           style="color: black; height: 37px; margin-top: 23px; margin-left: 100px">
                </th:block>
            </th:block>
        </div>
        <br><br>
        <div th:each="car : ${cars}" style="display: inline-flex; float: left; height: 300px; width: 300px; margin: 15px"
             class="w3-card w3-round-large w3-hover-shadow w3-hover-opacity">
            <h2 style="margin: 10px; text-align: center">
                <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none">
                    <th:block th:if="${car.images.size() > 0 && car.images != null}">
                        <th:block th:each="image : ${car.images}">
                            <th:block th:if="${image.preview eq true && car.hasPreview == true}">
                                <img th:src="@{|/images/${image.id}|}" alt="image"
                                     style="display: inline-flex; width: 250px; border-radius: 10%"><br>
                            </th:block>
                        </th:block>
                        <th:block th:if="${car.hasPreview == false}">
                            <img src="/resource/images/emptyCarImage.jpg" alt="image" style="width: 250px; border-radius: 10%">
                        </th:block>
                    </th:block>
                    <div th:text="${car.brand != null ? car.brand.title : 'No brand'}" style="margin-left: 20px"/>
                    <div th:text="${car.title}" style="margin-left: 20px"/>
                </a>
            </h2>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div style="margin-top: 25px">
            <div style="margin-top: 100px; display: inline-block" class="w3-bar w3-round">
                <ul style="display: inline-flex; list-style-type: none">
                    <th:block th:each="pageNumber : ${pages}">
                        <li class="page-item" style="margin-right: 10px" >
                            <a class="w3-bar-item w3-button w3-teal"
                               th:href="@{/users/{name}/cars/search/pages/{page}
                        (name = ${owner.username}, page = ${pageNumber}, search = ${search})}" th:text="${pageNumber}">1</a>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div style="margin-top: 50px">
                <input class="w3-button w3-round w3-light-grey" type="button" value="Назад" onclick="history.back()" style="color: black">
            </div>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>