<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
<div style="margin: 50px 100px">
    <div style="margin-top: 50px">
        <form th:method="GET" th:action="@{/users/search}">
            <label for="search">Search</label><br>
            <input type="text" id="search" th:name="search" th:value="${search}">
            <input type="submit" value="Search" style="color: black">
        </form>
    </div>
    <h1 style="margin-bottom: 50px">Find Users</h1>
    <div th:each="person : ${users}">
        <a th:href="@{/users/{name} (name = ${person.username})}">
            <div style="display: inline-flex">
                <img th:src="@{/images/{id} (id = ${person.image.id})}" alt="image" style="width: 100px; border-radius: 5%; margin-right: 25px">
                <div style="display: inline-block">
                    <h3 th:text="|${person.firstname} ${person.lastname}|">Name</h3>
                    <span th:text="${person.username}"/>
                    <h5 th:text="${person.role.name}" style="color: grey">Role</h5>
                </div>
            </div>
        </a>
        <div style="border-top: 1px solid gray; margin-top: 25px; margin-bottom: 25px; margin-right: 1000px"></div>
    </div>
    <ul style="display: inline-flex; list-style-type: none; margin-top: 100px">
        <th:block th:each="pageNumber : ${pages}">
            <li class="page-item" style="margin-right: 10px">
                <a class="page-link" th:href="@{/users/search/pages/{page}(page = ${pageNumber}, search = ${search})}" th:text="${pageNumber}">1</a>
            </li>
        </th:block>
    </ul>
    <div>
        <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
    </div>
</div>
</body>
</html>