<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px" class="w3-animate-opacity">
        <h1>Users</h1>
        <div>
            <form th:method="GET" th:action="@{/users/search}" style="display: inline-flex">
                <label for="search"></label><br>
                <input class="w3-input" style="width: 250px" type="text" id="search" name="search" placeholder="Input keywords here">
                <input class="w3-btn w3-blue w3-round" type="submit" value="Search" style="color: black; margin-left: 10px">
            </form>
        </div>
        <div th:each="selectUser : ${users}" style="margin-top: 50px">
            <a th:href="@{/users/{name} (name = ${selectUser.username})}">
                <div style="display: inline-flex; width: 700px; height: 300px" class="w3-card w3-round-large w3-hover-shadow w3-hover-opacity">
                    <div style="margin: 10px">
                        <th:block th:if="${selectUser.image != null}">
                            <img th:src="@{/images/{id} (id = ${selectUser.image.id})}"
                                 alt="image" style="width: 100px; border-radius: 5%; margin-right: 25px">
                        </th:block>
                        <th:block th:if="${selectUser.image == null}">
                            <img src="/resource/images/emptyUserImage.png"
                                 alt="image" style="width: 100px; border-radius: 5%; margin-right: 25px">
                        </th:block>
                        <div style="display: inline-block">
                            <div style="display: inline-flex">
                                <h3 th:text="|${selectUser.firstname} ${selectUser.lastname}|">User</h3>
                                <th:block th:if="${selectUser.status.name() eq 'ONLINE'}">
                                    <h3 style="color: green; margin-left: 25px">Online</h3>
                                </th:block>
                                <th:block th:if="${selectUser.status.name() eq 'OFFLINE'}">
                                    <h3 style="color: black; margin-left: 25px">Offline</h3>
                                </th:block>
                            </div>
                            <br>
                            <span th:text="${selectUser.username}"/>
                            <h5 th:text="${selectUser.role.name}" style="color: grey">Role</h5>
                            <th:block th:if="${user.role.name eq 'ADMIN'}">
                                <th:block th:if="${selectUser.enabled == true}">
                                    <span style="color: gray; margin-left: 500px">Active</span>
                                </th:block>
                                <th:block th:if="${selectUser.enabled == false}">
                                    <span style="color: red; margin-left: 500px">Inactive</span>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <ul style="display: inline-flex; list-style-type: none; margin-top: 100px" class="w3-bar w3-round">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px">
                    <a class="w3-bar-item w3-button w3-teal" th:href="@{/users/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
        <div>
            <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>