<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Page</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${guest.image eq null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${guest.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${guest.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px; display: inline-flex" th:object="${owner}">
        <div style="display: inline-block; margin-right: 500px">
            <h1><span style="font-weight: normal" th:text="*{username}"/></h1>
            <th:block th:if="*{image != null}">
                <h2><img style="border-radius: 10%; width: 300px" th:src="@{|/images/*{image.id}|}" alt="image"></h2>
                <div>
                    <form th:method="POST" th:action="@{/users/{name}/change-image (name = ${owner.username})}" enctype="multipart/form-data">
                        <label for="changeImage">Change Image</label>
                        <input type="file" id="changeImage" name="file" accept="image/png, image/jpeg">
                        <input type="submit" value="Change" style="color: black">
                    </form>
                </div>
                <br>
                <div>
                    <form th:method="POST" th:action="@{/users/{name}/remove-image (name = ${owner.username})}">
                        <label for="removeImage">Remove Image</label>
                        <input type="submit" value="Remove" id="removeImage" style="color: black">
                    </form>
                </div>
            </th:block>
            <th:block th:if="*{image == null}">
                <form th:method="POST" th:action="@{/users/{name}/change-image (name = ${owner.username})}" enctype="multipart/form-data">
                    <label for="addImage">Add Image</label>
                    <input type="file" id="addImage" name="file" accept="image/png, image/jpeg">
                    <input type="submit" value="Add" style="color: black">
                </form>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <h3 style="color: grey">Role: <span style="font-weight: normal" th:text="*{role.name}"/></h3>
                <h2>First Name: <span th:text="*{firstname}" style="font-weight: normal"/></h2>
                <h2>Last Name: <span th:text="*{lastname}" style="font-weight: normal"/></h2>
                <h2>Email: <span style="font-weight: normal" th:text="*{email}"/></h2>
                <th:block th:if="${guest.role.name eq 'ADMIN'}">
                    <th:block th:if="${owner.enabled == true}">
                        <span style="color: gray">Active</span><br><br>
                        <th:block th:if="${owner.role.name != 'ADMIN'}">
                            <form th:method="POST" th:action="@{/users/{name}/ban (name = ${owner.username})}">
                                <input type="submit" value="Ban" style="color: black">
                            </form>
                        </th:block>
                    </th:block>
                    <th:block th:if="${owner.enabled == false}">
                        <span style="color: red">Inactive</span><br><br>
                        <th:block th:if="${owner.role.name != 'ADMIN'}">
                            <form th:method="POST" th:action="@{/users/{name}/unban (name = ${owner.username})}">
                                <input type="submit" value="Unban" style="color: black">
                            </form>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
            <br>
            <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
        </div>
        <div style="display: inline-block">
            <h3>Description</h3>
            <p th:text="*{description}" style="text-align: justify">Description</p>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <div style="border-top: 1px solid gray; margin-top: 50px"></div>
                <div style="margin-top: 50px">
                    <th:block th:if="${owner.cars.size() > 0}">
                        <th:block th:if="${owner.username eq guest.username}">
                            <h2>
                                <a th:href="@{/users/{name}/cars (name = *{username})}" style="text-decoration: none">My Cars</a>
                            </h2>
                        </th:block>
                        <th:block th:if="${owner.username != guest.username}">
                            <h2>
                                <a th:href="@{/users/{name}/cars (name = *{username})}" style="text-decoration: none">Cars</a>
                            </h2>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.cars.size() < 1}">
                    <h2>Cars</h2>
                    <h3 style="color: grey">No results</h3>
                </th:block>
                <div th:each="car : ${owner.cars}" style="display: inline-flex">
                    <h3 style="height: 100px; width: 100px; margin-right: 20px">
                        <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none">
                            <th:block th:if="${car.images.size() > 0 && car.images != null}">
                                <th:block th:each="image : ${car.images}">
                                    <th:block th:if="${image.preview eq true}">
                                        <img th:src="@{|/images/${image.id}|}" alt="image"
                                             style="display: inline-flex; width: 100px; border-radius: 10%"><br>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <div style="color: grey; font-size: 14px" th:text="${car.brand != null ? car.brand.title : 'No Brand'}"/>
                            <div style="font-size: 18px" th:text="${car.title}"/>
                        </a>
                    </h3>
                </div>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.username eq guest.username}">
                    <div style="margin-top: 50px">
                        <input type="button" value="Add" onclick="location.assign('/cars/add')" style="color: black">
                    </div>
                </th:block>
            </th:block>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <div style="border-top: 1px solid gray; margin-top: 50px"></div>
                <div style="margin-top: 50px">
                    <th:block th:if="${owner.equipments.size() > 0}">
                        <th:block th:if="${owner.username eq guest.username}">
                            <h2>
                                <a th:href="@{/users/{name}/equipments (name = *{username})}" style="text-decoration: none">My Complectations</a>
                            </h2>
                        </th:block>
                        <th:block th:if="${owner.username != guest.username}">
                            <h2>
                                <a th:href="@{/users/{name}/equipments (name = *{username})}" style="text-decoration: none">Complectations</a>
                            </h2>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.equipments.size() < 1}">
                    <h2>Complectations</h2>
                    <h3 style="color: grey">No results</h3>
                </th:block>
                <div th:each="complectation : ${owner.equipments}" style="display: inline-flex">
                    <h3 style="margin-right: 20px; text-align: center">
                        <a th:href="@{/equipments/{id} (id = ${complectation.id})}" style="text-decoration: none">
                            <img th:src="${complectation.image}" alt="image" style="display: inline-flex; width: 50px; border-radius: 10%"><br>
                            <div th:text="${complectation.name}"/>
                            <th:block th:if="${complectation.attached == true}">
                                <span style="font-size: 12px; color: grey">Attached</span><br>
                                <span th:text="|${complectation.car.brand != null ? complectation.car.brand.title : 'No brand'}
                                ${complectation.car.title}|" style="font-size: 12px"/>
                            </th:block>
                        </a>
                    </h3>
                </div>
                <th:block th:if="${owner.username eq guest.username}">
                    <div style="margin-top: 50px">
                        <input type="button" value="Add" onclick="location.assign('/equipments/add')" style="color: black">
                    </div>
                </th:block>
            </th:block>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.username eq guest.username}">
                    <div style="border-top: 1px solid gray; margin-top: 50px"></div>
                    <th:block th:if="${owner.role.name eq 'USER'}">
                        <h2 style="margin-top: 50px">User</h2>
                    </th:block>
                    <th:block th:if="${owner.role.name eq 'ADMIN'}">
                        <h2 style="margin-top: 50px">Admin</h2>
                        <th:block th:if="${users.size() > 0}">
                            <form th:method="GET" th:action="@{/users/make-admin}">
                                <label for="make">Make Admin</label><br>
                                <select name="selectUser" id="make">
                                    <option th:each="select : ${users}" th:value="${select.username}"
                                            th:text="|${select.firstname} ${select.lastname} ${select.username}|">User</option>
                                </select>
                                <input type="submit" value="Make" style="color: black">
                            </form>
                        </th:block>
                    </th:block>
                    <div style="margin-top: 25px; display: inline-flex">
                        <form th:method="GET" th:action="@{/users/{name}/edit (name = ${owner.username})}" style="margin-right: 10px">
                            <input type="submit" value="Edit" style="color: black">
                        </form>
                        <form th:method="DELETE" th:action="@{/users/{name}/delete (name = ${owner.username})}">
                            <input type="submit" value="Delete" style="color: black">
                        </form>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</body>
</html>