<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${owner.username}"></title>
    <link rel="stylesheet" href="/resource/css/imageModule.css">
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
    <div id="divBarUserBlock">
        <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <th:block th:case="${true}">
                <th:block th:if="${guest.image eq null}">
                    <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
                </th:block>
                <th:block th:if="${guest.image != null}">
                    <div id="divBarUserImage" th:insert="~{fragments/fragments.html :: bar(${guest.image.id})}">Bar</div>
                </th:block>
            </th:block>
            <th:block th:case="${false}">
                <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
            </th:block>
        </th:block>
    </div>
    <div style="margin: 50px 100px; display: inline-flex" th:object="${owner}" class="w3-animate-opacity">
        <div style="display: inline-block; margin-right: 100px">
            <div class="w3-card w3-round-large">
                <h1 class="w3-tag w3-round w3-blue" style="width: 650px" th:text="*{username}"></h1>
                <div class="w3-container">
                    <th:block th:if="*{status.name() eq 'ONLINE'}">
                        <h2 style="color: green">Online</h2>
                    </th:block>
                    <th:block th:if="*{status.name() eq 'OFFLINE'}">
                        <h2 style="color: grey">Offline</h2>
                    </th:block>
                    <div id="divChangeImageBlockMain">
                        <div id="divChangeImageBlock">
                            <th:block th:if="*{image != null}">
                                <div id="divImg" style="text-align: center">
                                    <h2><img id="myImg" style="border-radius: 10%; width: 300px; margin: 25px"
                                             th:src="@{|/images/*{image.id}|}" alt="image"></h2>
                                </div>
                                <div id="myModal" class="modal">
                                    <span class="close">&times;</span>
                                    <img class="modal-content" id="img01" alt="image">
                                    <div id="caption"></div>
                                </div>
                                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                                    <th:block th:if="${owner.username eq guest.username}">
                                        <div style="display: inline-flex">
                                            <div style="margin-right: 20px">
                                                <form id="changeImageForm" enctype="multipart/form-data">
                                                    <div style="display: inline-flex">
                                                        <input type="file" id="changeImage" name="file" accept="image/png, image/jpeg"
                                                               class="w3-input w3-border w3-light-grey w3-round-large">
                                                        <input id="preview-image-csrf-token" type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                        <input class="w3-button w3-round w3-blue"
                                                               type="submit" value="Изменить" style="color: black; margin-left: 20px; width: 130px">
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                                <form id="deleteImageForm" th:method="POST"
                                                      th:action="@{/users/{name}/remove-image (name = ${owner.username})}">
                                                    <input class="w3-button w3-round w3-red" type="submit"
                                                           value="Убрать" id="removeImage" style="color: black; height: 47px">
                                                </form>
                                            </div>
                                        </div>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div id="divAddImageBlock">
                        <th:block th:if="*{image == null}">
                            <h2 style="text-align: center"><img style="border-radius: 10%; width: 300px"
                                                                src="/resource/images/emptyUserImage.png" alt="image"></h2>
                            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                                <th:block th:if="${owner.username eq guest.username}">
                                    <form id="addImageForm" enctype="multipart/form-data">
                                        <div style="display: inline-flex">
                                            <input class="w3-input w3-border w3-light-grey w3-round-large"
                                                   type="file" id="addImage" name="file" accept="image/png, image/jpeg"
                                                   style="width: 350px; margin-right: 20px">
                                            <input id="preview-image-csrf-token-for-adding" type="hidden" name="_csrf" th:value="${_csrf.token}">
                                            <input type="submit" value="Добавить" style="color: black" class="w3-button w3-round w3-teal">
                                        </div>
                                    </form>
                                </th:block>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <br>
            </div>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="w3-card w3-round-large" style="margin-top: 50px">
                    <div class="w3-container">
                        <h3 style="color: grey">Доступ: <span style="font-weight: normal" th:text="*{role.name}"/></h3>
                        <h2>Фамилия: <span th:text="*{firstname}" style="font-weight: normal"/></h2>
                        <h2>Имя: <span th:text="*{lastname}" style="font-weight: normal"/></h2>
                        <h2>Эл. почта: <span style="font-weight: normal" th:text="*{email}"/></h2>
                        <div id="divBanAndUnbanMain">
                            <div id="divBanAndUnban">
                                <th:block th:if="${guest.role.name eq 'ADMIN'}">
                                    <th:block th:if="${owner.enabled == true}">
                                        <h3 style="color: green">Активен</h3><br><br>
                                        <th:block th:if="${owner.role.name != 'ADMIN'}">
                                            <form id="banUserForm">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input class="w3-button w3-red w3-round" type="submit" value="Забанить" style="color: black">
                                            </form>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${owner.enabled == false}">
                                        <h3 style="color: red">Неактивен</h3><br><br>
                                        <th:block th:if="${owner.role.name != 'ADMIN'}">
                                            <form id="unbanUserForm">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input class="w3-button w3-win8-green w3-round" type="submit" value="Разбанить" style="color: black">
                                            </form>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </th:block>
            <br>
            <input class="w3-button w3-round w3-light-grey" type="button" value="Назад"
                   onclick="history.back()" style="color: black; margin-top: 100px">
        </div>
        <div style="display: inline-block">
            <div class="w3-card w3-round-large" style="text-align: center; margin-right: 100px">
                <h3 class="w3-win8-blue w3-round-large" style="width: 950px">Описание</h3>
                <div class="w3-container w3-border w3-round-large" style="margin: 20px; width: 900px; height: 200px; overflow: auto">
                    <p th:text="*{description}" style="text-align: justify; margin: 25px">Описание</p>
                </div>
                <br>
            </div>

            <div class="w3-card w3-round-large" style="margin-top: 50px; margin-right: 100px">
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <div>
                        <th:block th:if="${owner.cars.size() > 0}">
                            <th:block th:if="${owner.username eq guest.username}">
                                <h3>
                                    <a class="w3-card w3-button w3-round w3-win8-blue"
                                       th:href="@{/users/{name}/cars (name = *{username})}"
                                       style="text-decoration: none; width: 950px">Мои автомобили</a>
                                </h3>
                            </th:block>
                            <th:block th:if="${owner.username != guest.username}">
                                <h2>
                                    <a class="w3-card w3-button w3-round w3-win8-blue"
                                       th:href="@{/users/{name}/cars (name = *{username})}"
                                       style="text-decoration: none; width: 950px">Автомобили</a>
                                </h2>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>
                <div class="w3-container">
                    <div class="w3-border w3-round-large" style="width: 900px; height: 250px; overflow: auto; margin: 10px">
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <th:block th:if="${owner.cars.size() < 1}">
                                <h2 class="w3-tag w3-win8-blue" style="width: 950px">Автомобили</h2>
                                <h3 style="color: grey">Нет результатов</h3>
                            </th:block>
                            <div th:each="car : ${owner.cars}" style="display: inline-flex; float: left;
                                                            height: 200px; width: 200px; margin: 15px; box-sizing: border-box"
                                 class="w3-card w3-round-large w3-hover-shadow w3-hover-opacity">
                                <h3 style="margin: auto; text-align: center">
                                    <a th:href="@{/cars/{id} (id = ${car.id})}" style="text-decoration: none">
                                        <th:block th:if="${car.images.size() > 0 && car.images != null}">
                                            <th:block th:each="image : ${car.images}">
                                                <th:block th:if="${image.preview eq true && car.hasPreview == true}">
                                                    <img th:src="@{|/images/${image.id}|}" alt="image"
                                                         style="display: inline-flex; width: 150px; border-radius: 10%"><br>
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${car.hasPreview == false}">
                                                <img src="/resource/images/emptyCarImage.jpg" alt="image" style="width: 100px; border-radius: 10%">
                                            </th:block>
                                        </th:block>
                                        <div th:text="${car.brand != null ? car.brand.title : 'No brand'}" style="margin-left: 20px"/>
                                        <div th:text="${car.title}" style="margin-left: 20px"/>
                                    </a>
                                </h3>
                            </div>
                            <br><br><br><br><br><br><br><br>
                        </th:block>
                    </div>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <th:block th:if="${owner.username eq guest.username}">
                            <div style="margin-top: 50px; margin-left: 20px">
                                <input class="w3-button w3-win8-teal w3-round" type="button" value="Добавить"
                                       onclick="location.assign('/cars/secure/add')" style="color: black">
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <br>
            </div>

            <div class="w3-card w3-round-large" style="margin-right: 100px">
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <div style="margin-top: 50px">
                        <th:block th:if="${owner.equipments.size() > 0}">
                            <th:block th:if="${owner.username eq guest.username}">
                                <h3>
                                    <a class="w3-button w3-round w3-win8-blue"
                                       th:href="@{/users/{name}/equipments (name = *{username})}"
                                       style="text-decoration: none; width: 950px">Мои комплектации</a>
                                </h3>
                            </th:block>
                            <th:block th:if="${owner.username != guest.username}">
                                <h2>
                                    <a class="w3-button w3-round w3-win8-blue"
                                       th:href="@{/users/{name}/equipments (name = *{username})}"
                                       style="text-decoration: none; width: 950px">Комплектации</a>
                                </h2>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>

                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <th:block th:if="${owner.equipments.size() < 1}">
                        <h2 class="w3-tag w3-win8-blue w3-round-large" style="width: 950px">Комплектации</h2>
                        <h3 style="color: grey">Нет результатов</h3>
                    </th:block>
                    <div class="w3-border w3-round-large" style="width: 900px; height: 200px; overflow: auto; margin: 10px">
                        <div style="margin: 10px">
                            <div th:each="complectation : ${owner.equipments}"
                                 style="display: inline-flex; margin-right: 20px"
                                 class="w3-card w3-round w3-hover-shadow w3-hover-opacity">
                                <h3 style="margin: 20px; text-align: center">
                                    <a th:href="@{/equipments/{id} (id = ${complectation.id})}" style="text-decoration: none">
                                        <th:block th:if="${complectation.image != ''}">
                                            <img th:src="${complectation.image}" alt="image"
                                                 style="display: inline-flex; width: 50px; border-radius: 10%"><br>
                                        </th:block>
                                        <th:block th:if="${complectation.image eq ''}">
                                            <img src="/resource/images/complectImage.png" alt="image"
                                                 style="display: inline-flex; width: 50px; border-radius: 10%"><br>
                                        </th:block>
                                        <div th:text="${complectation.name}"/>
                                        <th:block th:if="${complectation.attached == true}">
                                            <span style="font-size: 12px; color: green">Установлен</span><br>
                                            <span th:text="|${complectation.car.brand != null ? complectation.car.brand.title : 'No brand'}
                                ${complectation.car.title}|" style="font-size: 12px"/>
                                        </th:block>
                                        <th:block th:if="${complectation.attached eq false}">
                                            <span style="font-size: 12px; color: red">Не установлен</span><br>
                                        </th:block>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${owner.username eq guest.username}">
                        <div style="margin-top: 20px; margin-left: 20px">
                            <input class="w3-button w3-win8-teal w3-round" type="button" value="Добавить"
                                   onclick="location.assign('/equipments/secure/add')" style="color: black">
                        </div>
                    </th:block>
                </th:block>
                <br>
            </div>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:if="${owner.username eq guest.username}">
                    <div class="w3-card w3-round-large" style="margin-top: 50px; margin-right: 100px">
                        <th:block th:if="${owner.role.name eq 'USER'}">
                            <h2 class="w3-tag w3-round w3-win8-blue" style="width: 950px">Пользователь</h2>
                        </th:block>
                        <th:block th:if="${owner.role.name eq 'ADMIN'}">
                            <h2 class="w3-tag w3-round w3-win8-blue" style="width: 950px">Администратор</h2>
                            <div id="divMakeAdminMain">
                                <div id="divMakeAdmin">
                                    <th:block th:if="${users.size() > 0}">
                                        <form id="makeAdminForm" style="margin: 20px">
                                            <label for="make">Сделать админом</label><br>
                                            <select name="selectUser" id="make">
                                                <option th:each="select : ${users}" th:value="${select.username}"
                                                        th:text="|${select.firstname} ${select.lastname} ${select.username}|">User</option>
                                            </select>
                                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                            <input class="w3-button w3-round w3-teal" type="submit" value="Принять" style="color: black">
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                        <div class="w3-container">
                            <div style="display: inline-flex">
                                <form th:method="GET" th:action="@{/users/{name}/edit (name = ${owner.username})}" style="margin-right: 10px">
                                    <input class="w3-button w3-round w3-blue" type="submit" value="Изменить" style="color: black">
                                </form>
                                <form th:method="DELETE" th:action="@{/users/{name}/delete (name = ${owner.username})}">
                                    <input class="w3-button w3-round w3-red" type="submit" value="Удалить" style="color: black">
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
    <script src="/resource/js/changeUserPreviewImage.js"></script>
    <script src="/resource/js/deleteUserPreviewImage.js"></script>
    <script src="/resource/js/makeAdmin.js"></script>
    <script src="/resource/js/bunAndUnbanUser.js"></script>
    <script src="/resource/js/imageResource.js"></script>
    <div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>