<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
    <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
        <th:block th:case="${true}">
            <th:block th:if="${user.image == null}">
                <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
            </th:block>
            <th:block th:if="${user.image != null}">
                <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
            </th:block>
        </th:block>
        <th:block th:case="${false}">
            <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
        </th:block>
    </th:block>

    <div style="margin: 50px 100px" class="w3-animate-opacity" id="divArticles">
        <h1>Новости</h1>
        <div>
            <form th:method="GET" th:action="@{/news/search}" style="display: inline-flex">
                <label for="search"></label>
                <input class="w3-input" style="width: 250px" type="text" id="search" name="search" placeholder="Поиск...">
                <input class="w3-btn w3-blue w3-round" type="submit" value="Поиск" style="color: black; margin-left: 10px">
            </form>
        </div>
        <th:block th:if="${news.isEmpty() eq true}">
            <h2>Нет результатов</h2>
        </th:block>
        <th:block th:if="${news.isEmpty() eq false}">
            <div style="display: inline-flex" th:each="article : ${news}">
                <div style="display: inline-block">
                    <a th:href="@{/news/{id} (id = ${article.id})}" style="text-decoration: none">
                        <div class="w3-card w3-round-large w3-hover-shadow"
                             style="width: 290px; height: 500px; margin-right: 40px; margin-top: 40px; background-color: #f1f1f1">
                            <div class="w3-container">
                                <div style="width: 250px; height: 200px; overflow: auto; margin-top: 20px">
                                    <img class="w3-round-large" th:src="${article.image}" alt="image"
                                         style="width: 250px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
                                </div>
                                <div  style="width: 250px; height: 200px; overflow: auto; margin-top: 10px">
                                    <div style="margin: 20px">
                                        <span th:text="${article.title}" style="font-size: 16px; font-weight: bold"/><br>
                                        <span th:text="|Дата выхлда: ${article.date}|" style="font-size: 12px; color: gray"/>
                                    </div>
                                </div>
                                <div id="divArticleCheer" style="margin-top: 20px">
                                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                                        <div th:if="${article.cheer.people.contains(user)}">
                                            <img src="/resource/images/heart_full.png" alt="image" style="width: 20px">
                                            <span th:text="${article.cheer.amount}" style="margin-left: 10px"></span>
                                        </div>
                                        <div th:if="${!article.cheer.people.contains(user)}">
                                            <img src="/resource/images/heart_empty.png" alt="image" style="width: 20px">
                                            <span th:text="${article.cheer.amount}" style="margin-left: 10px"></span>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${#authorization.expression('!isAuthenticated()')}">
                                        <div style="margin: 10px">
                                            <img src="/resource/images/heart_empty.png" alt="image" style="width: 20px">
                                            <span th:text="${article.cheer.amount}" style="margin-left: 10px"></span>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
        <div style="margin-top: 100px">
            <ul class="w3-bar w3-round" style="display: inline-flex; list-style-type: none">
                <th:block th:each="pageNumber : ${pages}">
                    <a class="w3-bar-item w3-button w3-teal" th:href="@{/news/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                </th:block>
            </ul>
        </div>
    </div>
    <div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>