<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div class="w3-animate-opacity" style="text-align: center; margin: 10% 50px 100px">
        <div class="w3-card w3-round-large" style="width: 500px; margin-left: 650px">
            <div class="w3-container w3-teal">
                <h1>Login</h1>
            </div>
            <br>
            <form method="post" action="/login" class="w3-container">
                <label for="username">User Name</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large"
                       type="text" id="username" name="username" placeholder="Input User Name"><br>

                <label for="password">Password</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large"
                       type="password" id="password" name="password" placeholder="Input password"><br>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="submit" value="Log in" style="color: black" class="w3-button w3-teal w3-round">
            </form>
            <br>
            <a href="/registration">Registration</a>
            <br><br>
        </div>
    </div>
    <div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>

<!--<div class="w3-card w3-round-large">-->
<!--    <div class="w3-container w3-teal" style="width: 500px; margin-left: 662px">-->
<!--        <h1>Login</h1>-->
<!--    </div>-->
<!--    <br>-->
<!--    <form method="post" action="/login" class="w3-container">-->
<!--        <label for="username">User Name</label><br>-->
<!--        <input class="w3-input w3-border w3-light-grey w3-round-large"-->
<!--               style="width: 300px; margin-left: 42%" type="text" id="username" name="username" placeholder="Input User Name"><br>-->

<!--        <label for="password">Password</label><br>-->
<!--        <input class="w3-input w3-border w3-light-grey w3-round-large"-->
<!--               style="width: 300px; margin-left: 42%"-->
<!--               type="password" id="password" name="password" placeholder="Input password"><br><br>-->
<!--        <input type="hidden" name="_csrf" th:value="${_csrf.token}">-->
<!--        <input type="submit" value="Log in" style="color: black" class="w3-button w3-teal w3-round">-->
<!--    </form>-->
<!--    <br>-->
<!--    <a href="/registration">Registration</a>-->
<!--</div>-->