<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin: 50px 100px">
        <form method="post" action="/registration" enctype="multipart/form-data">
            <h1>Registration</h1>

            <label for="firstname">First Name</label><br>
            <input type="text" id="firstname" name="firstname"><br><br>

            <label for="lastname">Last Name</label><br>
            <input type="text" id="lastname" name="lastname"><br><br>

            <label for="username">User Name</label><br>
            <input type="text" id="username" name="username"><br><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br>

            <label for="image">Image</label><br>
            <input class="w3-input" style="width: 17%; margin-left: 42%" type="file" id="image" name="file" accept="image/png, image/jpeg"><br><br>

            <label for="description">Description</label><br>
            <textarea name="description" id="description" cols="30" rows="3"></textarea><br><br>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <input type="submit" value="Accept" style="color: black" class="w3-button w3-green w3-round">
            <input type="button" value="Back" style="color: black" class="w3-button w3-grey w3-round">
        </form>
    </div>
    <div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>