<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restore Password</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>

    <div class="w3-animate-opacity" style="text-align: center; margin: 10% 50px 100px">
        <div class="w3-card w3-round-large" style="width: 500px; margin-left: 650px">
            <div class="w3-container w3-teal">
                <h1>Изменить пароль</h1>
            </div>
            <br>
            <form id="changePasswordForm" th:method="POST" th:action="@{/restorePassword}" class="w3-container">
                <input type="hidden" name="id" th:field="${person.id}">
                <label for="password">Новый пароль</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large"
                type="password" id="password" name="password" th:field="${person.password}" placeholder="Input new password"><br>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="submit" value="Принять" style="color: black" class="w3-button w3-teal w3-round">
            </form>
            <br><br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>