<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить линейку двигателей</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div class="w3-animate-opacity" style="text-align: center; margin: 10% 50px 100px">
        <div class="w3-card w3-round-large" style="width: 500px; margin-left: 650px">
            <div class="w3-container w3-win8-blue">
                <h1>Добавить линейку двигателей</h1>
            </div>
            <br>
            <form th:method="POST" th:action="@{/editions/secure/add}" th:object="${edition}" class="w3-container">
                <label for="brand">Бренд</label><br>
                <select th:field="*{brand.id}" id="brand" style="width: 450px">
                    <option th:each="newBrand : ${brands}" th:value="${newBrand.id}" th:text="${newBrand.title}">Brand</option>
                </select><br><br>
                <label for="name">Наименование</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" type="text" id="name" th:field="*{name}"><br>
                <label for="image">Изображение</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" type="text" id="image" th:field="*{image}"><br>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input class="w3-button w3-round w3-win8-blue" type="submit" value="Принять" style="color: black">
                <input class="w3-button w3-round w3-light-grey" type="button" value="Назад" onclick="history.back()" style="color: black">
            </form>
            <br>
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>