<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Edition</title>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <div th:insert="~{fragments/fragments.html :: bar(${user.image})}">Bar</div>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="text-align: center; margin: 15% 100px 50px;">
        <form th:method="POST" th:action="@{/editions/add}" th:object="${edition}">
            <h2>Add Engine Edition</h2>
            <label for="brand">Brand</label><br>
            <select th:field="*{brand.id}" id="brand">
                <option th:each="newBrand : ${brands}" th:value="${newBrand.id}" th:text="${newBrand.title}">Brand</option>
            </select><br><br>
            <label for="name">Name</label><br>
            <input type="text" id="name" th:field="*{name}"><br><br>
            <label for="image">Image</label><br>
            <input type="text" id="image" th:field="*{image}"><br><br>
            <input type="submit" value="OK" style="color: black">
            <input type="button" value="Back" onclick="history.back()" style="color: black">
        </form>
    </div>
</body>
</html>