<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edition</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Engines</h1>
        <h3>
            <a th:href="@{/editions}">All Editions</a>
        </h3>
        <h3 style="margin-top: 50px">
            <th:block th:if="${edition.brand != null}">
                Brand:
                <a th:href="@{/brands/{id} (id = ${edition.brand.id})}" style="text-decoration: none">
                    <span th:text="${edition.brand.title}"/>
                </a>
            </th:block>
        </h3>
        <div style="display: inline-block">
            <h2 th:text="${edition.name}">Edition</h2>
            <img th:src="${edition.image}" alt="image" style="width: 250px"><br>
            <h2 th:each="engine : ${edition.engines}" style="display: inline-flex">
                <a th:href="@{/engines/{id} (id = ${engine.id})}" style="text-decoration: none; margin-right: 20px">
                    <span th:text="${engine.name}"/><br>
                    <span th:text="${engine.fuel.name}" style="color: grey; font-size: 14px"/>
                </a>
            </h2>
        </div>
        <br>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <a th:href="@{/engines/add (editionId = ${edition.id})}" style="text-decoration: none">Add Engine</a>
            </th:block>
        </th:block>
        <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 900px"></div>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name eq 'ADMIN'}">
                <div style="margin-top: 50px; display: inline-flex">
                    <form th:method="GET" th:action="@{|/editions/${edition.id}/edit|}" style="margin-right: 20px">
                        <input type="submit" value="Edit" style="color: black">
                    </form>
                    <form th:method="DELETE" th:action="@{|/editions/${edition.id}/delete|}">
                        <input type="submit" value="Delete" style="color: black">
                    </form>
                </div>
            </th:block>
        </th:block>
        <div style="margin-top: 100px">
            <input type="button" value="Back" style="color: black" onclick="history.back()">
        </div>
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>