<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editions</title>
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: bar}">Bar</div>
    <div style="margin: 50px 100px">
        <h1>Engine Editions</h1>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <form th:method="GET" th:action="@{/editions/add}" style="margin-top: 100px">
                    <input type="submit" value="Add Edition" style="color: black">
                </form>
            </th:block>
        </th:block>
        <h2 th:each="edition : ${editions}" style="margin-top: 50px">
            <img th:src="${edition.image}" alt="image" style="width: 50px; margin-right: 25px">
            <a th:href="@{/brands/{id} (id = ${edition.brand.id})}" style="text-decoration: none; margin-right: 25px">
                <span th:text="${edition.brand.title}" style="color: grey"/>
            </a>
            <a th:href="@{/editions/{id} (id = ${edition.id})}" style="text-decoration: none">
                <span th:text="${edition.name}"/>
            </a>
        </h2>
        <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
    </div>
</body>
</html>