<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editions</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
<th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <th:block th:case="${true}">
        <th:block th:if="${user.image == null}">
            <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
        </th:block>
        <th:block th:if="${user.image != null}">
            <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
        </th:block>
    </th:block>
    <th:block th:case="${false}">
        <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
    </th:block>
</th:block>
    <div style="margin: 50px 100px">
        <h1>Editions</h1>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:method="GET" th:action="@{/engines/find-engines}" style="display: inline-flex">
                <div style="display: inline-block; margin-right: 25px">
                    <label for="brands">Brands</label>
                    <select name="searchBrand" id="brands">
                        <option value=""></option>
                        <option th:each="b : ${brands}" th:value="${b.title}" th:text="${b.title}">Brand</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="editions">Editions</label>
                    <select name="searchEdition" id="editions">
                        <option value=""></option>
                        <option th:each="ed : ${editions}" th:value="${ed.name}" th:text="${ed.name}">Edition</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="engines">Engines</label>
                    <select name="searchEngine" id="engines">
                        <option value=""></option>
                        <option th:each="en : ${engines}" th:value="${en.name}" th:text="${en.name}">Engines</option>
                    </select>
                </div>
                <div style="display: inline-block; margin-right: 25px">
                    <label for="fuel">Fuel</label>
                    <select name="searchFuel" id="fuel">
                        <option value=""></option>
                        <option th:each="fu : ${fuelTypes}" th:value="${fu.name}" th:text="${fu.name}">Fuel</option>
                    </select>
                </div>
                <input type="submit" value="Find Engines" style="color: black">
            </form>
            <th:block th:if="${user.role.name == 'ADMIN'}">
                <form th:method="GET" th:action="@{/editions/secure/add}" style="margin-top: 100px">
                    <input type="submit" value="Add Edition" style="color: black">
                </form>
            </th:block>
        </th:block>
        <h2 th:each="edition : ${editions}" style="margin-top: 50px">
            <a th:href="@{/brands/{id} (id = ${edition.brand.id})}" style="text-decoration: none; margin-right: 25px">
                <img th:src="@{|/images/${edition.brand.image.id}|}" alt="image" style="width: 50px">
                <span th:text="${edition.brand.title}" style="color: grey"/>
            </a>
            <a th:href="@{/editions/{id} (id = ${edition.id})}" style="text-decoration: none">
                <img th:src="${edition.image}" alt="image" style="width: 50px">
                <span th:text="${edition.name}"/>
            </a>
            <div style="border-top: 1px solid gray; margin-top: 50px; margin-right: 1300px"></div>
        </h2>

        <input type="button" value="Back" onclick="history.back()" style="color: black; margin-top: 100px">
    </div>
<div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
</body>
</html>