<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Turbocharger</title>
    <div th:insert="~{fragments/fragments.html :: searchSelectors}">Search Selectors</div>
</head>
<body>
    <th:block th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
        <th:block th:case="${true}">
            <th:block th:if="${user.image == null}">
                <div th:insert="~{fragments/fragments.html :: bar(${null})}">Bar</div>
            </th:block>
            <th:block th:if="${user.image != null}">
                <div th:insert="~{fragments/fragments.html :: bar(${user.image.id})}">Bar</div>
            </th:block>
        </th:block>
        <th:block th:case="${false}">
            <div th:insert="~{fragments/fragments.html :: bar(_)}">Bar</div>
        </th:block>
    </th:block>
    <div style=" margin: 8% 100px 50px; text-align: center" class="w3-animate-opacity">
        <div class="w3-card w3-round-large w3-hover-shadow" style="width: 600px; margin-left: 550px">
            <div class="w3-tag w3-win8-blue w3-round-large" style="width: 600px">
                <h2>Добавить турбонаддув</h2>
            </div>
            <form th:method="POST" th:action="@{/turbochargers/secure/add}">
                <br>
                <input type="hidden" name="turbotypeId" th:value="${turboType.id}">

                <label for="brand">Бренд</label><br>
                <select th:field="${turbocharger.brand.id}" id="brand" style="width: 500px">
                    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.title}">Brand</option>
                </select><br><br>

                <label for="name">Наименование</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="name" th:field="${turbocharger.name}"><br>

                <label for="image">Изображение</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="image" th:field="${turbocharger.image}"><br>

                <label for="final ratio">Дополнительные Обороты</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="final ratio" th:field="${turbocharger.rpm}"><br>

                <label for="ratio">Дополнительный крутящий момент</label><br>
                <input class="w3-input w3-border w3-light-grey w3-round-large" style="width: 500px; margin-left: 50px"
                       type="text" id="ratio" th:field="${turbocharger.torque}"><br>

                <label for="description">Описание</label><br>
                <textarea class="w3-round-large" th:field="${turbocharger.description}" style="width: 500px"
                          id="description" cols="30" rows="10">Description</textarea><br><br>

                <input class="w3-button w3-win8-blue w3-round" type="submit" value="Принять" style="color: black">
                <input class="w3-button w3-light-grey w3-round" type="button" value="Назад" onclick="history.back()" style="color: black">
            </form>
            <br>
        </div>
    <div th:insert="~{fragments/fragments.html :: searchScript}">Search Script</div>
    </div>
</body>
</html>